{{title "Settings"}}

<div class="container">
  <div class="panel">
    <section>
      <aside>
        <h3>
          <span class="panel__aside__icon">{{svg/sprite-icon icon="github-48" size="20"}}</span>
          <span>GitHub</span>
        </h3>
        <p>Connect your account to GitHub.</p>
      </aside>
      <section>
        {{github-connect-state
          githubAvatarUrl=model.githubAvatarUrl
          githubId=model.githubId
          githubUsername=model.githubUsername
        }}
      </section>
    </section>
  </div>
</div>
