{{title "Settings"}}

<div class="container">
  <div class="panel">
    <section>
      <aside>
        <h3>
          {{fa-icon "credit-card"}} Your card
        </h3>
        <p>Update the card you use to donate.</p>
      </aside>
      <section>
        {{payments/credit-card card=card}}
      </section>
    </section>
  </div>
</div>
