<div class="input-group">
  {{editor-with-preview input=comment.markdownPreview preview=comment.bodyPreview generatePreview=(action 'generatePreview')}}
  {{#each comment.errors.markdown as |error|}}
    <p class="error">{{error.message}}</p>
  {{/each}}
</div>
<div class="input-group">
  <button name="save" {{action 'saveComment'}}>Post comment</button>
</div>