<h3 class="donation-goal__amount">{{format-currency donationGoal.amount}}</h3>
{{#if canEdit}}
  <a class="donation-goal--edit" {{action edit}}>Edit</a>
{{/if}}
<p class="donation-goal__description">{{donationGoal.description}}</p>
