{{#if canActivateDonations}}
  <div class="panel panel--highlighted">
    <section>
      <aside>
        <h3>Ready for donations?</h3>
      </aside>

      <section>
        <p>You've added goals. Just say the word and start accepting donations now.</p>
        <button class="default activate-donations" data-test-activate-donations {{action (action activateDonations)}} >Turn on donations</button>
      </section>
    </section>
  </div>
{{/if}}
