{{#if githubId}}
  <div class="github-connect-state__user">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="31" viewBox="0 0 32 31" version="1.1">
      <g id="github-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M0.32 15.84C0.32 22.63 4.73 28.39 10.84 30.43 11.61 30.57 11.89 30.09 11.89 29.69 11.89 29.32 11.87 28.35 11.87 27.07 7.59 28 6.69 25.01 6.69 25.01 5.99 23.23 4.98 22.76 4.98 22.76 3.58 21.81 5.08 21.82 5.08 21.82 6.63 21.93 7.44 23.41 7.44 23.41 8.81 25.76 11.04 25.08 11.92 24.69 12.06 23.69 12.45 23.02 12.89 22.63 9.48 22.24 5.89 20.92 5.89 15.03 5.89 13.35 6.49 11.98 7.47 10.9 7.31 10.51 6.78 8.95 7.62 6.83 7.62 6.83 8.91 6.42 11.85 8.41 13.08 8.07 14.39 7.9 15.7 7.89 17.01 7.9 18.32 8.07 19.55 8.41 22.49 6.42 23.78 6.83 23.78 6.83 24.61 8.95 24.09 10.51 23.93 10.9 24.91 11.98 25.51 13.35 25.51 15.03 25.51 20.94 21.91 22.24 18.49 22.62 19.04 23.09 19.53 24.03 19.53 25.47 19.53 27.52 19.51 29.18 19.51 29.69 19.51 30.1 19.79 30.58 20.57 30.43 26.68 28.39 31.08 22.63 31.08 15.84 31.08 7.34 24.19 0.46 15.7 0.46 7.21 0.46 0.32 7.34 0.32 15.84Z" id="github-icon-fill" fill="#08A8FC"/>
      </g>
    </svg>
    <img src={{githubAvatarUrlResized}} height="50" width="50" />
    <p>Connected to <strong>{{githubUsername}}</strong>.</p>
  </div>
{{else}}
  {{github-connect}}
{{/if}}
