{{#if githubId}}
  <div class="github-connect-state__user">
    <img src={{githubAvatarUrlResized}} height="50" width="50" />
    <p>Connected to <strong>{{githubUsername}}</strong>.</p>
  </div>
{{else}}
  {{github-connect}}
{{/if}}
