{{yield}}
<div class="hover">
  <p>{{hoverText}}</p>
</div>
{{#if (and helpText (not hasImage))}}
  <div class="text">
    <p class="help-text">{{helpText}}</p>
  </div>
{{/if}}
<input type="file" onchange={{action filesDidChange value="target.files"}}>
