<p>Name: {{member.model.name}}</p>
<p>Username: {{member.model.username}}</p>
{{#if isOrganization}}
  {{organization-details organization=member.model}}
{{/if}}
{{#if isUser}}
  {{user-details user=member.model}}
{{/if}}