<div class="input-group">
  {{image-drop originalImage=organization.iconLargeUrl droppedImage=organization.base64IconData hoverText="Change your logo."}}
</div>
<div class="input-group">
  {{input type="text" name="name" value=organization.name placeholder="Organization Name"}}
</div>
<div class="input-group">
  {{input type="text" name="description" value=organization.description placeholder="Description"}}
</div>

<div class="input-group">
  <button class="save default" {{action 'save'}}>Update Settings</button>
</div>
