<h3>Contributors<span>{{count}}</span></h3>
<ul>
{{#each members as |user|}}
  <li>
    {{#link-to 'slugged-route' user.username}}
      {{#if user.isLoaded}}
        <img class="icon" src={{user.photoThumbUrl}} />
      {{else}}
        <div class="icon"></div>
      {{/if}}
    {{/link-to}}
  </li>
{{/each}}
</ul>
