<div class="container">
  {{organization-header organization=organization expanded=true}}
</div>

{{organization-menu organization=organization}}

<div class="container">
  <div class="organization-main">
    {{project-list projects=organization.projects}}
  </div>

  <div class="organization-sidebar">
    <div class="organization-sidebar__section">
      {{organization-members count=membersCount members=members}}
    </div>
  </div>
</div>
