<div class="container">
  {{organization-header organization=organization expanded=true}}
</div>

{{organization-menu organization=organization}}

<div class="container">
  <div class="organization-main">
    {{project-list projects=organization.projects}}
  </div>
</div>
