{{image-drop originalImage=organization.iconLargeUrl droppedImage=organization.base64IconData}}

<div class="form-container">
  <div class="input-group">
    <label class="input-label" for="name">Name</label>
    {{input type="text" name="name" value=organization.name}}
  </div>
  <div class="input-group">
    <label class="input-label" for="description">Description</label>
    {{input type="text" name="description" value=organization.description}}
  </div>

  <div class="input-group">
    <button class="save success" {{action 'save'}}>Update Settings</button>
  </div>
</div>