<div class="settings-form__image">
  <div class="input-group">
    {{image-drop
      hoverText="Change your logo."
      large=true
      onDone=(action uploadDone)
      onError=(action uploadErrored)
      onStart=(action uploadStarted)
      originalImage=organization.iconLargeUrl
    }}
  </div>
</div>

<div class="settings-form__form">
  <div class="input-group">
    <div class="input-label">
      <label>
        <span class="input-label__text">Organization name</span>
      </label>
    </div>
    {{input type="text" name="name" value=organization.name}}
  </div>
  <div class="input-group">
    <div class="input-label">
      <label>
        <span class="input-label__text">Description</span>
      </label>
    </div>
    {{input type="text" name="description" value=organization.description}}
  </div>

  <div class="input-group">
    <button class="save default" {{action 'save'}}>Update settings</button>
  </div>
</div>
