<ul>
  {{#if session.isAuthenticated}}
    {{#if (can 'manage organization')}}
      <li>
        {{#link-to 'organizations.slugged-route.settings.profile' organization.slug}}
          Organization Profile
        {{/link-to}}
      </li>
    {{/if}}
  {{/if}}
</ul>
