{{#if isOpen}}
  <button class="button clear small" name="close" {{action 'closePost'}}>Close post</button>
{{else}}
  <button class="button clear small" name="open" {{action 'reopenPost'}}>Reopen post</button>
{{/if}}