<h1 class="title">{{post.title}}</h1>
<span class="post-type">{{post.postType}}</span>
<div class="body">{{{post.body}}}</div>
{{!-- {{#link-to 'project.posts.edit' post class="edit"}}Edit{{/link-to}} --}}