<ul>
  {{#if session.isAuthenticated}}
    {{#if (can "manage organization" project.organization membership=credentials.currentUserMembership) }}
      <li>
        {{link-to "Basic settings" "project.settings.profile" project.slug}}
      </li>
      <li>
        {{link-to "Contributors" "project.settings.contributors" project.slug}}
      </li>
    {{/if}}
  {{/if}}
</ul>