<img class="icon" src={{project.iconThumbUrl}} />
<h1 class="title">{{project.title}}</h1>
<p class="description">{{project.description}}</p>

{{project-post-list project=project}}

{{#link-to 'project.posts.new' tagName='button' class='new-post'}}New post{{/link-to}}
