{{#if showHeader}}
  <div class="project-skills-list__header">
    <span>{{header}}</span>
  </div>
{{/if}}
{{#each skills as |skill|}}
  {{project-skill-item skill=skill onClicked=onSkillClicked}}
{{else}}
  <div class="project-skills-list__fallback">
    You've added all the project's skills.
  </div>
{{/each}}
