<ul>
  {{#if session.isAuthenticated}}
    {{#if (can "manage organization" project.organization) }}
      <li>
        {{link-to "Contributors" "project.settings.contributors" project.slug}}
      </li>
      <li>
        {{link-to "Donation goals" "project.settings.donations.goals" project.slug}}
      </li>
      <li>
        {{link-to "Payment settings" "project.settings.donations.payments" project.slug}}
      </li>
      <li>
        {{link-to "Basic settings" "project.settings.profile" project.slug}}
      </li>
    {{/if}}
  {{/if}}
</ul>
