{{#each visibleMembers as |user|}}
  <li class="member">
    {{#if user.isLoaded}}
      <img class="icon tiny circle" src={{user.photoThumbUrl}} />
    {{else}}
      <div class="icon tiny circle"></div>
    {{/if}}
  </li>
{{/each}}
{{#if hiddenMembersExist}}
  <li class="count">+{{hiddenMembersCount}} more</li>
{{/if}}
