<div class="form-container">
  <div class="input-group">
    <label class="input-label" for="title">Title</label>
    {{input type="text" name="title" value=project.title}}
  </div>
  <div class="input-group">
    <label class="input-label" for="description">Description</label>
    {{input type="text" name="description" value=project.description}}
  </div>

  <div class="input-group">
    <button class="save success" {{action 'save'}}>Update Settings</button>
  </div>
</div>