<div class="container">
  <ul>
    <li>
      {{link-to data-test-profile-link 'Profile' 'settings.profile'}}
    </li>
    <li>
      {{link-to data-test-integrations-link 'Integrations' 'settings.integrations'}}
    </li>
  </ul>
</div>
