<div class="input-label">
  <label for="email">
    <span class="input-label__text">Your email</span>
  </label>
</div>
{{input name="email" autocapitalize="off" type="text" value=user.email key-down="keyDown"}}
<div class="suggestions">
{{#if canShowValidations}}
  {{#if isOkay}}
    <p class="ok"></p>
  {{/if}}
  {{#if isInvalid}}
    <p class="not-ok simple">
      <ul>
        <li>
          Please enter a valid email.
        </li>
      </ul>
    </p>
  {{/if}}
  {{#if isUnavailable}}
    <p class="not-ok">
      <ul>
        <li>
          This email is already registered. Want to {{link-to "login" "login"}}?
        </li>
      </ul>
    </p>
  {{/if}}
{{/if}}
</div>
{{#each user.errors.email as |error|}}
  <p class="error">Your email {{error.message}}.</p>
{{/each}}
