<div class="input-label">
  <label for="password">
    <span class="input-label__text">Create a password</span>
  </label>
</div>
{{input class="has-progress" name="password" type="password" autocomplete="off" value=user.password}}
<div class="strength">
  {{progress-bar-container percentage=strengthPercentage}}
</div>
<div class="suggestions">
{{#if canShowValidations}}
  {{#if isOkay}}
    <p class="ok">
      <ul>
        {{#if suggestions}}
        <li class="highlight">
          Tips for a stronger password:
        </li>
        {{/if}}
        {{#each suggestions as |suggestion|}}
        <li>
          {{end-with-period suggestion}}
        </li>
        {{/each}}
      </ul>
    </p>
  {{/if}}
  {{#if isInvalid}}
    <p class="not-ok">
      <ul>
        <li>
          Your password must be at least 6 characters.
        </li>
      </ul>
    </p>
  {{/if}}
{{/if}}
</div>
{{#each user.errors.password as |error|}}
  <p class="error">Your password {{error.message}}.</p>
{{/each}}
