<div class="container">
  <ul class="footer-columns">
    <li>
      {{#scroll-top}}
        {{#link-to 'index' class='footer-logo'}}Code Corps{{/link-to}}
      {{/scroll-top}}
    </li>
    <li>
      <h4>Code Corps</h4>
      <ul class="footer-links">
        <li>
          {{#scroll-top}}
            {{link-to 'About us' 'about'}}
          {{/scroll-top}}
        </li>
        <li>
          {{#scroll-top}}
            {{link-to 'Team' 'team'}}
          {{/scroll-top}}
        </li>
      </ul>
    </li>
    <li>
      <h4>Help</h4>
      <ul class="footer-links">
        <li>
          <a href="mailto:team@codecorps.org">team@codecorps.org</a>
        </li>
        <li>
          {{#scroll-top}}
            {{link-to 'Terms of Use' 'terms'}}
          {{/scroll-top}}
        </li>
        <li>
          {{#scroll-top}}
            {{link-to 'Privacy Policy' 'privacy'}}
          {{/scroll-top}}
        </li>
      </ul>
    </li>
    <li>
      <h4>Learn</h4>
      <ul class="footer-links">
        <li>
          <a href="https://blog.codecorps.org">Blog</a>
        </li>
      </ul>
    </li>
    <li>
      <h4>Connect</h4>
      <ul class="footer-links">
        <li>
          <a class="github" href="https://github.com/code-corps" target="_blank" rel="noopener noreferrer">
            GitHub
          </a>
        </li>
        <li>
          <a class="slack" href="http://slack.codecorps.org" target="_blank" rel="noopener noreferrer">
            Slack
          </a>
        </li>
        <li>
          <a class="twitter" href="https://twitter.com/thecodecorps" target="_blank" rel="noopener noreferrer">
            Twitter
          </a>
        </li>
        <li>
          <a class="facebook" href="https://www.facebook.com/thecodecorps" target="_blank" rel="noopener noreferrer">
            Facebook
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
