<span>{{skill.title}}</span>
{{#tooltip-on-component delay=1000 effect='none' side='bottom' updateFor=skill.isLoaded}}
  {{#if matched}}Delete your skill{{else}}Add new skill{{/if}}
{{/tooltip-on-component}}
