{{#click-outside action=(action "hide")}}
  <button class="clear small {{if active "active"}}" {{action 'toggle'}}>Type</button>
  {{task-filter-dropdown selectedFilters=selectedTypes hide="hide" filterBy="filterByType"}}
{{/click-outside}}
