<div class="task-icon"></div>
<div class="task-content">
  <div class="task-title">{{#link-to 'project.tasks.task' task.number}}{{task.title}}{{/link-to}}</div>
  <div class="task-description">#{{task.number}} by {{task.user.username}} {{moment-from-now task.insertedAt}}</div>
  {{!-- <div class="task-expertise expert">Expert</div> --}}
</div>
