<ul class="task-card task-card--in-progress task-card--task">
  <li>
    <span class="task-card__title">Add project roles on Ember</span>
    <span class="task-card__number">#123</span>
  </li>
  <li>
    <span class="task-card__type--task"></span>
    <span class="task-card__time">2 days ago</span>
  </li>
</ul>

<ul class="task-card task-card--in-progress task-card--issue">
  <li>
    <span class="task-card__title">Add project roles on Ember</span>
    <span class="task-card__number">#123</span>
  </li>
  <li>
    <span class="task-card__type--issue"></span>
    <span class="task-card__time">2 days ago</span>
  </li>
</ul>

<ul class="task-card task-card--in-progress task-card--idea">
  <li>
    <span class="task-card__title">Add project roles on Ember</span>
    <span class="task-card__number">#123</span>
  </li>
  <li>
    <span class="task-card__type--idea"></span>
    <span class="task-card__time">2 days ago</span>
  </li>
</ul>
