<div class="task-card task-card--in-progress task-card--task">
  <p>
    <span class="task-card__title">Add project roles on Ember</span>
    <span class="task-card__number">#123</span>
  </p>
  <p class="task-card__meta">
    <span class="task-card__icon" title="Task"></span>
    <span class="task-card__time">2 days ago</span>
  </p>
</div>
