<div class="dropdown-body">
  <ul>
    <li>{{#link-to 'slugged-route' user.username class="slugged-route"}}Your profile{{/link-to}}</li>
    <li>{{#link-to 'settings.profile' class="profile"}}Settings{{/link-to}}</li>
    {{! logout class is being used as a hook for testing only }}
    <li><a class="logout" {{action 'invalidateSession'}}>Log out</a></li>
  </ul>
</div>
<div class="dropdown-footer">
  Signed in as <strong class="css-truncate-target">{{user.username}}</strong>
</div>
