{{skill-textfield
  autofocus=true
  focus-in="focus"
  focus-out="blur"
  getKeyDown=(action "getKeyDown")
  placeholder="Start typing a skill, like Ruby or PhotoShop"
  value=query
}}

{{#if canShow}}
<div class="dropdown-menu">
  {{#each results as |skill index|}}
    {{user-skills-input-item
      hover="hoverSkill"
      query=query
      selectSkill=selectSkill
      skill=skill
      skills=skills
    }}
  {{/each}}
</div>
{{/if}}

{{selectedSkill.title}}
