<img class="volunteer-headshot__image icon large" src={{volunteer.photoThumbUrl}} alt={{volunteerName}} />
<p class="volunteer-headshot__name" data-test-selector="volunteer name">{{volunteerName}}</p>
<p class="volunteer-headshot__role" data-test-selector="volunteer role">{{userRole.role.name}}</p>
