<img class="volunteer-headshot__image icon large" src={{volunteer.photoThumbUrl}} alt={{volunteerName}} />
<p class="volunteer-headshot__name" data-test-volunteer-name>{{volunteerName}}</p>
<p class="volunteer-headshot__role" data-test-volunteer-role>{{userRole.role.name}}</p>
