<img class="volunteer-headshot__image" src={{volunteer.photoThumbUrl}} alt={{altText}} />
<p class="volunteer-headshot__name" data-test-selector="volunteer name">{{volunteerName}}</p>
<p class="volunteer-headshot__role" data-test-selector="volunteer role">{{userRole.role.name}}</p>
