.contributors-list {
  @include span-columns(12);
  &:last-child {
    margin-bottom: 0;
  }
}

.contributors-list__header {
  margin-bottom: 1em;
  p {
    font-size: $body-font-size-small;
    margin: 5px 0;
  }
}

.contributors-list--empty {
  background: $background-gray;
  border-radius: 4px;
  padding: 20px 60px;
}
