{{post-details post=post}}
{{post-comment-list comments=comments}}
{{create-comment-form comment=newComment saveComment='saveComment'}}
{{#if error}}
  <div class="error">{{error.message}}</div>
{{/if}}
