<h3>Create a Stripe account for {{organizationName}}</h3>

{{payments/contact-info email=email}}

{{payments/funds-recipient
  fundsRecipient=fundsRecipient
  recipientInformationSubmitted=(action onRecipientInformationSubmitted email)}}

{{payments/bank-account account=account isBusy=isBusy submit=(action onBankAccountInformationSubmitted)}}
