<section>
  <aside>
    <h3>{{#if (eq status 'verified')}}{{fa-icon "check-circle"}}{{else}}{{fa-icon "edit"}}{{/if}} Enable donations</h3>
    <p>Set your goals and start accepting donations.</p>
  </aside>

  {{#if (eq status 'required')}}
    <section data-test-section>
      <div>
        <p>Go set your donation goals and start accepting donations now.</p>
        {{link-to 'Set up donations' 'project.settings.donations.goals' project class='button default activate-donations'}}
      </div>
    </section>
  {{/if}}
</section>
