<aside>
  <h1>Funds Recipient</h1>
</aside>

{{#if (eq status 'required')}}
  <section class="details-form">
    TODO: details-form-component goes here
  </section>
{{/if}}

{{#if (eq status 'verifying')}}
  <section class="verification-document">
    TODO: verification-document component goes here
  </section>
  <section class="personal-id-number">
    TODO: personal-id-number component goes here
  </section>
{{/if}}

{{#if (eq status 'verified')}}
  <section>
    <div class="funds-recipient__individual-name">
      <label>Name</label>
      <p>{{account.individualName}}</p>
    </div>

    {{#if (eq account.recipientType 'business')}}
      <div class="funds-recipient__business-name">
        <label>Business Name</label>
        <p>{{account.businessName}}</p>
      </div>
    {{/if}}
  </section>
{{/if}}
