<aside>
  <h1>Funds Recipient</h1>
</aside>

{{#if (or (eq status 'required') (eq status 'errored'))}}
  {{payments/funds-recipient/details-form
    onSubmit=(action onRecipientDetailsSubmitted)
    stripeConnectAccount=stripeConnectAccount
  }}
{{/if}}

{{#if (eq status 'verifying')}}
  <section class="verification-document">
    TODO: verification-document component goes here
  </section>
  <section class="personal-id-number">
    TODO: personal-id-number component goes here
  </section>
{{/if}}

{{#if (eq status 'verified')}}
  <section>
    <div class="funds-recipient__individual-name">
      <label>Name</label>
      <p>{{stripeConnectAccount.individualName}}</p>
    </div>

    {{#if (eq stripeConnectAccount.recipientType 'business')}}
      <div class="funds-recipient__business-name">
        <label>Business Name</label>
        <p>{{stripeConnectAccount.businessName}}</p>
      </div>
    {{/if}}
  </section>
{{/if}}
