@mixin fadeIn($duration: 2s) {
  -webkit-animation: fadein $duration; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein $duration; /* Firefox < 16 */
      -ms-animation: fadein $duration; /* Internet Explorer */
       -o-animation: fadein $duration; /* Opera < 12.1 */
          animation: fadein $duration;
}

@mixin fadeInDown($duration: 2s) {
  -webkit-animation: fadeInDown $duration; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeInDown $duration; /* Firefox < 16 */
      -ms-animation: fadeInDown $duration; /* Internet Explorer */
       -o-animation: fadeInDown $duration; /* Opera < 12.1 */
          animation: fadeInDown $duration;
}

@mixin fadeInUp($duration: 2s) {
  -webkit-animation: fadeInUp $duration; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeInUp $duration; /* Firefox < 16 */
      -ms-animation: fadeInUp $duration; /* Internet Explorer */
       -o-animation: fadeInUp $duration; /* Opera < 12.1 */
          animation: fadeInUp $duration;
}

@mixin fadeOut($duration: 2s) {
  -webkit-animation: fadeOut $duration; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeOut $duration; /* Firefox < 16 */
      -ms-animation: fadeOut $duration; /* Internet Explorer */
       -o-animation: fadeOut $duration; /* Opera < 12.1 */
          animation: fadeOut $duration;
}

@mixin shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@mixin fly {
  animation-name: fly;
  animation-duration: 5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translate3d(0, -100%, 0); }
  to { opacity: 1; transform: none; }
}

/* Firefox < 16 */
@-moz-keyframes fadeInDown {
  from { opacity: 0; transform: translate3d(0, -100%, 0); }
  to { opacity: 1; transform: none; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeInDown {
  from { opacity: 0; transform: translate3d(0, -100%, 0); }
  to { opacity: 1; transform: none; }
}

/* Internet Explorer */
@-ms-keyframes fadeInDown {
  from { opacity: 0; transform: translate3d(0, -100%, 0); }
  to { opacity: 1; transform: none; }
}

/* Opera < 12.1 */
@-o-keyframes fadeInDown {
  from { opacity: 0; transform: translate3d(0, -100%, 0); }
  to { opacity: 1; transform: none; }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translate3d(0, 50%, 0); }
  to { opacity: 1; transform: none; }
}

/* Firefox < 16 */
@-moz-keyframes fadeInUp {
  from { opacity: 0; transform: translate3d(0, 50%, 0); }
  to { opacity: 1; transform: none; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeInUp {
  from { opacity: 0; transform: translate3d(0, 50%, 0); }
  to { opacity: 1; transform: none; }
}

/* Internet Explorer */
@-ms-keyframes fadeInUp {
  from { opacity: 0; transform: translate3d(0, 50%, 0); }
  to { opacity: 1; transform: none; }
}

/* Opera < 12.1 */
@-o-keyframes fadeInUp {
  from { opacity: 0; transform: translate3d(0, 50%, 0); }
  to { opacity: 1; transform: none; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes fly {
  from { left: -100%; }
  to   { left: 45%; }
}

/* Firefox < 16 */
@-moz-keyframes fly {
  from { left: -100%; }
  to   { left: 45%; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fly {
  from { left: -100%; }
  to   { left: 45%; }
}

/* Internet Explorer */
@-ms-keyframes fly {
  from { left: -100%; }
  to   { left: 45%; }
}

/* Opera < 12.1 */
@-o-keyframes fly {
  from { left: -100%; }
  to   { left: 45%; }
}
