#{$all-buttons}, .button {
  color: white;
  border-radius: 4px;
  padding: 11px 14px;
  font-family: $body-font-family;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;

  &:focus {
    outline: none;
  }

  &.small {
    font-size: 14px;
    padding: 6px 14px;
  }

  &.large {
    font-size: 26px;
    padding: 15px 40px;
  }

  &.on-solid {
    background: transparent;
    border: 1px solid white;
    &:hover {
      background: white;
    }
  }

  &.default {
    background: $primary-color;
    border: 1px solid $primary-color;
    &.on-solid {
      background: transparent;
      &:hover {
        color: $primary-color;
      }
    }
  }

  &.clear {
    background: white;
    border: 1px solid $border-default;
    color: $dark-text;

    &:focus {
      background: $clear-focus;
      border-color: darken($border-default, 2%);
    }
  }

  &.success {
    background: $success-color;
    &.on-solid {
      background: transparent;
      &:hover {
        color: $success-color;
      }
    }
  }

  &.danger {
    &.on-solid {
      &:hover {
        color: $danger-color;
      }
    }
  }

  &.warning {
    &.on-solid {
      &:hover {
        color: $warning-color;
      }
    }
  }
}

#{$all-buttons-hover}, .button:hover {
  cursor: pointer;
  background: darken($primary-color, 10%);
  @include transition(background 0.2s ease-in);

  &.default {
    background: darken($default-color, 10%);
    color: white;
  }

  &.clear {
    background: $clear-hover;
  }

  &.success {
    background: darken($success-color, 10%);
    color: white;
  }
}

#{$all-buttons}, .button {
  &.active, &:active {
    &.clear {
      background: $clear-hover;
    }
  }
}

.button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &.dropdown {
    #{$all-buttons}, .button {
      &::after {
        @include arrow-down;
        height: 8px;
        margin-left: 10px;
      }
    }
  }
}

