// Colors
$gray: #CCC;
$red: #c0392b;
$green: #23871E;
$dark-yellow: #f39c12;
$dark-blue: #08A8FC;
$light-green: #DFF0D8;
$light-blue: #F6FCFF;

// Defaults
$primary-color: $dark-blue;

// Text
$extra-light-text: #AAAAAA;
$light-text: #666;
$dark-text: #333;

// Links
$link-color: $dark-blue;
$hidden-link-color: $dark-text;
$link-hover-color: darken($dark-blue, 5%);

// Buttons
$clear-hover: #E5E5E5;
$clear-focus: #FCFCFC;
$clear-active: $clear-hover;
$primary-active: darken($primary-color, 5%);

// Borders
$border-default: $gray;
$border-light: #EEE;
$border-focus: #51A7E8;
$border-light-blue: #3ABAFC;

// Backgrounds
$background-gray: #F3F3F3;
$code-background: #FBFBFB;
$code-background-dark: #222;

// Errors
$error-text-color: $red;

// Color Types
$default-color: $primary-color;
$success-color: $green;
$danger-color: $red;
$warning-color: $dark-yellow;

// Success
$success-background: $green;

// Task types
$idea-color: $dark-yellow;
$issue-color: $red;
$progress-color: $green;
$task-color: $dark-blue;

$taskTypeColors: (
  "idea": $idea-color,
  "issue": $issue-color,
  "progress": $progress-color,
  "task": $task-color,
);

$taskTypeTextOnBackgroundColors: (
  "idea": $dark-text,
  "issue": white,
  "progress": white,
  "task": white,
);

$light-red-background: #FFE5E1;
$light-blue-background: #EDF9FF;

$idea-background: #FFF9DE;
$issue-background: $light-red-background;
$progress-background: #EFFFEE;
$task-background: $light-blue-background;

$taskTypeBackgrounds: (
  "idea": $idea-background,
  "issue": $issue-background,
  "progress": $progress-background,
  "task": $task-background,
);

// Code
$code-dark-blue: #6E9CBE;
$code-dark-brown: #BC9458;
$code-dark-dark-yellow: #FFC66D;
$code-dark-green: #A5C261;
$code-dark-light-yellow: #E8BF6A;
$code-dark-light-purple: #D0D0FF;
$code-dark-orange: #CC7833;
$code-dark-red: #DA4939;
$code-dark-white: #F8F8F2;

$code-light-black: #222;
$code-light-green: #229151;
$code-light-orange: #B75F25;
