//
// GUIDELINES
//

// color variables should follow the same modular naming convention used when styling components
// the root of the variable name is the name of the color (e.g. blue) followed by a modifier
// --light --lighter, --dark, --darker
// modifiers should only be used if a base color has been set
// e.g. $red--darker only makes sense if $red already exists
// hex codes should only be used on the original variable names
// whenever a color is needed it should use a variable or a variation of it (e.g. darken($green, 5%))

// This is a great guide about hex colors
// https://www.smashingmagazine.com/2012/10/the-code-side-of-color/
// we should perhaps consider switching from hex to rgba or hsla as they're easier to
// understand and build varations of
// https://developer.mozilla.org/en-US/docs/Web/CSS/color_value

//
// BASE COLORS
//

$blue: #08A8FC;
$blue--light: #EDF9FF;
$blue--lighter: #F6FCFF;
$blue--dark: #1B9BE5;

$gray: #AAA;
$gray--dark: #999;
$gray--darker: #666;
$gray--darkest: #333;
$gray--light: #BBB;
$gray--lighter: #CCC;
$gray--lightest: #DDD;

// these colors were used previously and removed for the sake of consistency:
// #E5E5E5, #FCFCFC, #F3F3F3

$green: #23871E;
$green--light: #DFF0D8;
$green--lighter: #EFFFEE;

$red: #C0392B;
$red--light: #FFE5E1;

$yellow: #F39C12;
$yellow--light: #FFF9DE;

//
// TEXT
//

// text colors should use gray variables

//$text
$text--dark: $gray--darkest;
$text--light: $gray--darker; // this is the most common text color in the project
$text--lighter: $gray;

//
// LINKS
//
$link-color: $blue;
$hidden-link-color: $text--dark;
$link-hover-color: $blue--dark;

//
// BUTTONS
//
$clear-hover: #E5E5E5;
$clear-focus: #FCFCFC;
$clear-active: #E5E5E5;
$primary-active: $blue--dark;

//
// BORDERS
//
$border-default: $gray;
$border-light: #EEE;
$border-focus: #51A7E8;
$border-light-blue: #3ABAFC;

//
// BACKGROUNDS
//
$background-gray: #F3F3F3;

//
// ERRORS
//
$error-text-color: $red;

//
// COLOR TYPES
//
$danger-color: $red;
$default-color: $blue;
$success-color: $green;
$warning-color: $yellow;

//
// SUCCESS
//
$success-background: $green;

//
// TASK TYPES
//

$idea-color: $yellow;
$issue-color: $red;
$progress-color: $green;
$task-color: $blue;

$idea-background: $yellow--light;
$issue-background: $red--light;
$progress-background: $green--light;
$task-background: $blue--light;

$taskTypeColors: (
  "idea": $idea-color,
  "issue": $issue-color,
  "progress": $progress-color,
  "task": $task-color,
);

$taskTypeTextOnBackgroundColors: (
  "idea": $text--dark,
  "issue": white,
  "progress": white,
  "task": white,
);

$taskTypeBackgrounds: (
  "idea": $idea-background,
  "issue": $issue-background,
  "progress": $progress-background,
  "task": $task-background,
);

//
// CODE DARK THEME
//
$code-theme--dark--black: #222;
$code-theme--dark--blue: #6E9CBE;
$code-theme--dark--brown: #BC9458;
$code-theme--dark--green: #A5C261;
$code-theme--dark--orange: #CC7833;
$code-theme--dark--purple: #D0D0FF;
$code-theme--dark--red: #DA4939;
$code-theme--dark--white: #F8F8F2;
$code-theme--dark--yellow: #FFC66D;
$code-theme--dark--yellow--dark: #E8BF6A;

//
// CODE LIGHT THEME
//
$code-theme--light--black: #222;
$code-theme--light--gray: #FBFBFB;
$code-theme--light--green: #229151;
$code-theme--light--orange: #B75F25;
