.input-group {
  margin: 0 0 24px 0;

  #{$all-text-inputs} {
    width: 100%;
    max-width: 100%;
  }
}

.input-label {
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: 700;
  display: block;
}

textarea {
  min-height: 100px;
}

.form-container {
  @include span-columns(8);
}

form {
  h2 {
    font-family: $body-font-family;
    font-size: 32px;
    font-weight: 500;
  }
}

form {
  #{$all-buttons}, .button {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
  }
}

.error {
  margin: 5px;
}
