.input-group {
  margin: 10px 0;

  #{$all-buttons} {
    width: 100%;
    max-width: 100%;
  }

  #{$all-text-inputs} {
    width: 100%;
    max-width: 100%;
  }
}

.input-label {
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: 700;
}

textarea {
  min-height: 100px;
}