.card-logo {
  &__container {
    top: inherit;
    left: inherit;
    position: inherit;
  }

  &__inner {
    position: inherit;
  }
}

code {
  background: none;
}

.donation-container {
  float: inherit;
}
