#{$all-text-inputs} {
  padding: 11px 12px;
  font-size: $body-font-size-normal;
  margin: 0;
  outline: none;
  border: 1px solid $gray--light;
  border-radius: 4px;

  &.has-progress {
    padding-right: 70px;
  }
}

#{$all-text-inputs-focus} {
  border-color: $blue;
}

select,
textarea,
input {
  @include media($sm-screen) {
    font-size: 16px !important;
  }
}

.checkboxes {
  &--inline {
    li {
      display: inline-block;

      &.selected {
        font-weight: 600;
      }
    }

    label {
      align-items: center;
      display: flex;
      padding: 5px 8px;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      margin-right: 5px;
    }
  }
}
