.component-list-container {
  margin-bottom: 0;
  background-color: #f9f9f9;
  padding: 1rem;
}

.component-display-container {
  background-color: #f9f9f9;
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
}
