//
// VENDORS
//

// Normalize.css
// A modern, HTML5-ready alternative to CSS resets
// https://necolas.github.io/normalize.css/
@import "normalize";

// Bourbon
// A simple and lightweight mixin library for Sass
// http://bourbon.io/
@import "bourbon";

// Neat
// Neat is a semantic grid framework built with Sass
// http://neat.bourbon.io/
@import "neat";

//ember-modal-dialog
//The ember-modal-dialog addon provides components to implement modal dialogs throughout an Ember application using a simple, consistent pattern.
//https://github.com/yapplabs/ember-modal-dialog
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.ember-modal-overlay.translucent {
  background: rgba(0,0,0, 0.70)
}

.ember-modal-dialog {
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

//
// HELPERS
//
@import "base/animations";
@import "base/colors";
@import "base/fonts";
@import "base/mixins";

@import "base/base";
@import "base/helpers";



//
//
//
@import "icons";
@import "alerts";
@import "buttons";
@import "code";
@import "images";
@import "inputs";

//
// LAYOUT
//
@import "layout/breakpoints";
@import "layout/content";
@import "layout/footer";
@import "layout/forms";
@import "layout/header";
@import "layout/select-dropdown";
@import "layout/select-inline";

@import "ember-power-select";

//
// ADDONS
//
@import "addons/ember-stripe-elements/stripe-element";

//
// COMPONENTS
//
@import "components/animated-high-five";
@import "components/categories-list";
@import "components/category-item";
@import "components/code-theme-selector";
@import "components/comment-item";
@import "components/create-comment-form";
@import "components/editor-with-preview";
@import "components/error-wrapper";
@import "components/image-drop";
@import "components/loading-bar";
@import "components/member-list-item";
@import "components/modal-confirm";
@import "components/pager-control";
@import "components/progress-bar";
@import "components/settings-menu";
@import "components/signup-form";

//
// COMPONENTS - DONATIONS
//
@import "components/donation-goal-edit";
@import "components/donation-goal";
@import "components/donation-payment";
@import "components/donation/card-item";
@import "components/donation/card-logo";
@import "components/donations/create-donation";
@import "components/donations/donation-progress";
@import "components/donations/donation-status";
@import "components/donation/project-header";

//
// COMPONENTS - GITHUB
//
@import "components/github-connect-state";

//
// COMPONENTS - ORGANIZATION
//
@import "components/organization-header";
@import "components/organization-profile";

//
// COMPONENTS - PAYMENTS
//
@import "components/payments/account-setup";
@import "components/payments/funds-recipient/details-form";
@import "components/payments/bank-account";

//
// COMPONENTS - PROJECTS
//
@import "components/project-card-members";
@import "components/project-card";
@import "components/project-header";
@import "components/project-item";
@import "components/project-join-modal";
@import "components/project-list";
@import "components/project-long-description";
@import "components/project-members";
@import "components/project-menu";

//
// COMPONENTS - SKILLS
//
@import "components/skill-list-item";
@import "components/skills-typeahead";

//
// COMPONETS - RELATED SKILLS
//
@import "components/related-skills";

//
// COMPONENTS - TASK
//
@import "components/task/user/user-select";
@import "components/task/user/users-list-item";

//
// COMPONENTS - TASKS
//
@import "components/task-card";
@import "components/task-comment-list";
@import "components/task-details";
@import "components/task-header";
@import "components/task-board";
@import "components/task-list-cards";
@import "components/task-new-form";
@import "components/task-status";
@import "components/task-status-button";
@import "components/task-title";

//
// COMPONENTS - USER
//
@import "components/settings-menu";
@import "components/signup-form";
@import "components/user-details";

@import "components/user-menu";
// dropdown-menu has to come after user-menu for styles to work correctly
@import "components/dropdown-menu";

@import "components/user-projects-list";
@import "components/user-sidebar";
@import "components/volunteer-headshot";

// used from task/new.hbs
@import "components/project-skills-list";

//
// TEMPLATES
//
@import "templates/index"; // index is the stylesheet for the homepage
@import "templates/about";
@import "templates/team";

//
// TEMPLATES - PROJECTS
//
@import "templates/project/settings/profile";
@import "templates/project/settings/settings";
@import "templates/project/settings/contributors";
@import "templates/project/tasks/task";
@import "templates/project/tasks/task-new";
@import "templates/project/index";
@import "templates/project/tasks/index";
@import "templates/project/thank-you";

//
// TEMPLATES - ONBOARDING
//
@import "templates/start/start";
@import "templates/start/expertise";
@import "templates/start/hello";
@import "templates/start/skills";

//
// SHAME.CSS
//
@import "shame";
