.dropdown {
  position: relative;

  &.menu-hidden {
    .dropdown-menu {
      display: none;
    }
  }

  &.menu-visible {
    .dropdown-menu {
      display: block;
    }
  }
}

.dropdown-menu {
  position: absolute;
  z-index: 99999;
  top: 100%;
  float: left;
  background: white;
  border: 1px solid $gray;
  border-radius: 4px;
  padding: 5px 0;
  margin-top: 5px;
  -webkit-box-shadow: 0px 10px 41px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 41px -16px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 41px -16px rgba(0,0,0,0.75);

  li {
    display: block;
    padding: 3px 0;
  }

  &.right {
    float: none;
    right: 0;
  }

  .close {
    color: $light-text;
    line-height: 14px;
    padding: 10px 14px;
    vertical-align: middle;
    &:hover {
      color: $primary-color;
    }
    &.right {
      right: 0;
      position: absolute;
      top: 0;
    }
  }
}

@mixin border-top-radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

.dropdown-header, .dropdown-footer {
  background: $background-gray;
  color: $light-text;
  padding: 10px 14px;

  p {
    font-size: 13px;
    margin: 0;
  }
}

.dropdown-header {
  @include border-top-radius(4px);
  margin: -5px 0 5px 0;
}

.dropdown-footer {
  @include border-bottom-radius(4px);
  margin: 5px 0 -5px 0;
}

.dropdown-body {
  padding: 10px 15px;
}
