html {
  font-family: $body-font-family;

  &.danger {
    background: $danger-color;
  }
  &.warning {
    background: $warning-color;
  }
}

body {
  margin: 0;
  padding: 0 10px;

  > .ember-view:first-of-type {
    height: 100%;
    position: relative
  }
}

html, body {
  height: 100%;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.flexbox-spacer {
  flex: auto;
}

p {
  font-size: $body-font-size-normal;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color ease 0.3s;

  &:hover {
    color: $link-hover-color;
    cursor: pointer;
  }
}

.container {
  @include outer-container(980px);
  min-width: 980px;
}

.error {
  color: $error-text-color;
}

.left {
  float: left;
}

.right {
  float: right;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.border-top {
  border-top: 1px solid;
}

.border-gray-light {
  border-color: $border-light;
}

.empty-state {
  color: $light-text;
}

.additional-content {
  color: $light-text;
  font-size: 12px;
}

.overflow-hidden {
  overflow: hidden;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.close {
  font-size: $body-font-size-large;
  font-weight: 900;
  margin-right: 2px;
}

.spinner {
  &.small {
    $file: "/assets/images/icons/spinner-small";
    @include background-image-retina($file, "gif", 24px, 24px);
    height: 24px;
    width: 24px;
  }
}

p.subtext {
  font-size: $body-font-size-small;
}

.empty {
  background: $background-gray;
  border-radius: 6px;
  padding: 20px;
  text-align: center;

  .empty-icon {
    margin: 0 auto;
  }
}

// TODO: Remove when we add more projects
.temporary-projects-notice {
  @include span-columns(4);

  border: 1px dashed $border-light;
  border-radius: 4px;
  color: $light-text;
  min-height: 390px;
  padding: 20px;

  p {
    font-size: $body-font-size-small;
  }

  .curved-arrow-icon {
    @include sprite($curved-arrow);

    margin-top: 90px;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
