html {
  font-family: "Open Sans", sans-serif;

  &.danger {
    background: $danger-color;
  }
  &.warning {
    background: $warning-color;
  }
}

body {
  margin: 0;

  .ember-view:first-of-type {
    height: 100%;
    position: relative
  }
}

html, body {
  height: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color ease 0.3s;

  &:hover {
    color: $link-hover-color;
    cursor: pointer;
  }
}

.container {
  @include outer-container(980px);
}

.error {
  color: $error-text-color;
}

.left {
  float: left;
}

.right {
  float: right;
}