html {
  font-family: $body-font-family;

  &.danger {
    background: $danger-color;
  }
  &.warning {
    background: $warning-color;
  }
}

body {
  margin: 0;

  > .ember-view:first-of-type {
    height: 100%;
    position: relative
  }
}

html, body {
  height: 100%;
}

p {
  font-size: 15px;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color ease 0.3s;

  &:hover {
    color: $link-hover-color;
    cursor: pointer;
  }
}

.container {
  @include outer-container(980px);
  min-width: 980px;
}

.error {
  color: $error-text-color;
}

.left {
  float: left;
}

.right {
  float: right;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.border-top {
  border-top: 1px solid;
}

.border-gray-light {
  border-color: $border-light;
}

.empty-state {
  color: $light-text;
}

.overflow-hidden {
  overflow: hidden;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.close {
  font-size: 18px;
  font-weight: 900;
  margin-right: 2px;
}

.spinner {
  &.small {
    $file: "/assets/images/icons/spinner-small";
    @include background-image-retina($file, "gif", 24px, 24px);
    height: 24px;
    width: 24px;
  }
}

// TODO: Remove when we add more projects
.temporary-projects-notice {
  @include span-columns(4);

  border: 1px dashed $border-light;
  border-radius: 4px;
  color: $light-text;
  padding: 20px;

  p {
    font-size: 14px;

    &:last-child {
      margin-bottom: 11px;
    }
  }

  .curved-arrow-icon {
    @include sprite($curved-arrow);

    margin-top: 90px;
  }
}
