.start-header {
  text-align: center;

  h2 {
    color: $dark-text;
    font-size: $header-font-size-medium;
    font-weight: 500;
    margin: 10px 0;
  }

  h3 {
    color: $extra-light-text;
    font-size: $header-font-size-small;
    font-weight: 300;
    margin: 10px 0;
  }
}

.start-actions {
  @include span-columns(12);

  border-top: 3px solid $border-light;
  margin: 20px 0;
  padding: 10px 0;
  text-align: center;

  p {
    font-size: $body-font-size-normal;
    color: $extra-light-text;
  }

  button {
    font-size: $body-font-size-normal;
    padding-left: 50px;
    padding-right: 50px;
  }
}
