<a data-test-installation-link href={{githubAppUrl}} {{action "trackClick" preventDefault=false}} class="button button__github button__github--light default" target="_blank"><span></span>Install on GitHub</a>
