{{#if merged}}
  <span class="sprite-icon">
    <svg class="solid-purple size-16">
      <use xlink:href="#github-merge-48"></use>
    </svg>
  </span>
{{else if (eq state 'closed')}}
  <span class="sprite-icon">
    <svg class="solid-red size-16">
      <use xlink:href="#github-pull-request-48"></use>
    </svg>
  </span>
{{else if (eq state 'open')}}
  <span class="sprite-icon">
    <svg class="solid-green size-16">
      <use xlink:href="#github-pull-request-48"></use>
    </svg>
  </span>
{{else}}
  <div data-test-loading class="loading loading--circle-16"></div>
{{/if}}
