<div class="page-section">
  {{project-settings-form project=model}}
</div>

<div class="page-section">
  <div class="page-section__header">
    <h2>Skills</h2>
    <p>What skills does your project require? These will help contributors find your project.</p>
  </div>

  <div class="project-skills-list centered">
  {{#each projectSkills as |projectSkill|}}
    {{skill-button
      alwaysShowX=true
      iconBefore=false
      isLoading=projectSkill.isLoading
      remove=(action removeProjectSkill projectSkill)
      size="small"
      skill=projectSkill.skill
    }}
  {{/each}}
  </div>

  <div class="skills-typeahead-container">
  {{skills-typeahead
    centered=true
    selectSkill=(action toggleSkill)
    skillsList=projectSkillsList
  }}
  </div>
</div>
