{{#unless isPending}}
  <label for="personal_id_number">personal ID number</label>
  <input type="text" name="personal_id_number" />
  <button type="submit">Submit</button>

  Please be patient while we verify your ID number.
{{/unless}}
