<div class="coversation-part-closed__message-wrapper">
  <div class="conversation-part-closed__timestamps-wrapper">
    <div class="conversation-part-closed__timestamps">
      <span data-test-closed-at>
  {{#if isSelf}}
    You closed this at {{moment-format conversationPart.updatedAt 'MM/DD/YYYY hh:mm:ss'}}
  {{else}}
    {{author.username}} closed this at {{moment-format conversationPart.updatedAt 'MM/DD/YYYY hh:mm:ss'}}
  {{/if}}
      </span>
    </div>
  </div>
</div>
