<div class="conversation-thread-inner">
  <div class="conversation-thread__messages">
    {{#if conversation.message.isLoaded}}
      {{conversations/conversation-part-comment
        author=conversation.message.author
        body=conversation.message.body
        readAt=conversation.message.readAt
        sentAt=conversation.message.insertedAt
      }}
    {{/if}}
    {{#each conversation.conversationPartComments as |conversationPart|}}
      {{#if conversationPartComment.isLoaded}}
        {{conversations/conversation-part-comment
          author=conversationPartComment.author
          body=conversationPartComment.body
          readAt=conversationPartComment.readAt
          sentAt=conversationPartComment.insertedAt
        }}
      {{/if}}
    {{/each}}
  </div>
  <div class="conversation-thread__composer">
    {{conversations/conversation-composer
      send=(pipe (action send) (action scrollBottom))
    }}
  </div>
</div>
