<div class="coversation-part-closed__message-wrapper">
  {{#if currentUser}}
    You closed this at...
  {{else}}
    <div class="conversation-part-closed__message-wrapper">
      {{author.username}} closed this at...
      {{/if}}
    </div>
  </div>
