.donation-status {
  .donation-status__become-a-donor {
    .donation-status__become-a-donor--button {
      width: 100%;
    }
  }

  .donation-status__create-donation {
    display: flex;
    flex-direction: column;

    .donation-status__create-donation__amounts {
      display: flex;
      flex-wrap: wrap;
    }

    .donation-status__create-donation__preset-amount {
      flex: 2;
      flex-basis: 48%;
      margin-bottom: 5px;

      &:nth-child(even) {
        margin-left: 2px;
      }

      &:nth-child(odd) {
        margin-right: 2px;
      }
    }

    .donation-status__create-donation__custom-amount {
      flex: 1;
    }

    .donation-status__create-donation__continue {
      flex: 1;
    }
  }
}
