.donation-progress {
  margin-bottom: 20px;

  .progress-bar-container {
    height: 8px;
    margin: 10px 0 20px 0;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    &__amount, &__percentage {
      text-align: center;

      &__label {
        color: $text--light;
        font-size: 13px;
      }

      &__value {
        font-size: $header-font-size-medium;
        font-weight: 600;
        line-height: 2rem;
      }

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    &__amount__value {
      color: $blue;
    }
  }

  &__description {
    border: 1px solid $gray--lightest;
    border-radius: 4px;
    color: $text--light;
    font-size: $body-font-size-normal;
    line-height: 22px;
    margin: 10px 0;
    padding: 10px;
  }
}
