.donation-status {
  .button {
    text-align: center;
    width: 100%;
  }

  .show-donation {
    background: $blue--background;
    border-radius: 4px;
    padding: 1em;

    .info {
      display: flex;
      font-weight: 700;
      line-height: 30px;
      margin: 0;
      vertical-align: middle;

      &:before {
        content: "";
        $file: "/assets/images/icons/fireworks-small";
        @include background-image-retina($file, "png", 30px, 30px);
        height: 30px;
        width: 30px;
        margin: 0 15px 0 0;
      }
    }
  }
}
