.donation-progress {
  .donation-progress__information {
    display: flex;
    justify-content: space-between;

    .donation-progress__information__descriptive-text {
      color: $gray;
    }

    .donation-progress__information__value {
      font-size: $header-font-size-large;
      font-weight: 600;
    }

    .donation-progress__information__percentage {
      text-align: right;
    }
  }

  .donation-progress__progress-bar-container {
    height: 10px;
    margin-top: 10px;
  }
}
