.donation-progress {
  margin-bottom: 20px;

  .information {
    display: flex;
    justify-content: space-between;

    .percentage {
      text-align: right;
    }

    .description {
      color: $light-text;
      font-size: $body-font-size-small;
    }

    .value {
      font-size: $header-font-size-small;
      font-weight: 600;
    }
  }

  .progress-bar-container {
    height: 10px;
    margin-top: 20px;
  }

  p {
    color: $light-text;
    font-size: $body-font-size-normal;
    line-height: 22px;
    margin: 20px 0;
  }
}
