.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
  width: 100%;

  &--wide {
    padding: 0 10px;
  }
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.flexbox-spacer {
  // flex: auto;
}

.hidden {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.visible {
  visibility: visible;
}
