.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  height: auto;
  width: 100%;

  &--wide {
    padding: 0 10px;
  }

  &--full-on-mobile {
    @include media($sm-screen) {
      padding: 0;
    }
  }
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.flexbox-spacer {
  flex: auto;
}

.hidden {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.visible {
  visibility: visible;
}
