{{#if select.selected}}
  <img class="select-inline__selected-item__icon" src={{select.selected.photoThumbUrl}} />
  <span class="select-inline__selected-item__text">{{select.selected.username}}</span>
{{/if}}
