{{log tooltipShown}}
{{#if task.userTask.isLoading}}
  <span class="select-inline__loading-item__icon"></span>
  <span class="select-inline__loading-item__text"></span>
{{else}}
  <span data-test-unselected-icon class="select-inline__unselected-item__icon">
    {{fa-icon "user"}}
  </span>
  {{#tooltip-on-component
    class='tooltip'
    effect='none'
    enableLazyRendering=true
    event='none'
    isShown=tooltipShown
    keepInWindow=true
    side='bottom'
  }}
    Assign this task
  {{/tooltip-on-component}}
{{/if}}
