{{#if task.userTask.isLoading}}
  <span class="select-inline__loading-item__icon"></span>
  <span class="select-inline__loading-item__text"></span>
{{else}}
  <span data-test-unselected-icon class="select-inline__unselected-item__icon">
    <span class="sprite-icon">
      <svg class="solid-light-gray size-14">
        <use xlink:href="#user-48"></use>
      </svg>
    </span>
  </span>
  {{#tooltip-on-component
    class='tooltip'
    effect='none'
    enableLazyRendering=true
    keepInWindow=true
    side='bottom'
  }}
    Assign this task
  {{/tooltip-on-component}}
{{/if}}
