{{#if task.userTask.isLoading}}
  <span class="select-inline__loading-item__icon"></span>
  <span class="select-inline__loading-item__text"></span>
{{else}}
  <span class="select-inline__unselected-item__icon"></span>
  <span class="select-inline__unselected-item__text">No one yet</span>
{{/if}}
