<div class="container">
  <div class="panel">
    <div class="panel__section">
      <div class="panel__section__description">
        <h3>Organization details</h3>
        <p>Manage your organizations's details like your icon, name, and description.</p>
      </div>
      <div class="panel__section__content">
        {{organization-settings-form organization=model}}
      </div>
    </div>
  </div>
</div>
