<div class="container">
  <div class="panel">
    <section>
      <aside>
        <h3>Organization details</h3>
        <p>Manage your organizations's details like your icon, name, and description.</p>
      </aside>
      <section>
        {{organization-settings-form organization=model}}
      </section>
    </section>
  </div>
</div>
