.task-wrapper {
  min-height: 50vh;
  width: 100%;
}

.task-timeline {
  @include span-columns(9);
}

.task-sidebar {
  @include span-columns(3);
}

.task-sidebar-section {
  &__header {
    h2 {
      color: $text--dark;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
