<div class="container">
  {{donation/project-header project=project}}

  {{donations/create-donation
    amount=amount
    continue=(action "continueToCheckout")
    onAmountChanged=(action (mut amount))
  }}
</div>
