{{title model.title " by " model.organization.name}}

{{project-details project=model expanded=true}}
{{project-menu project=model}}
<div class="project-main">
  {{project-long-description project=model}}
</div>
