{{! this template should be renamed project-settings for consistency }}

{{title "Settings" " « " model.title " by " model.organization.name}}

<div class="container">
  {{project-details project=model}}
</div>

{{project-menu project=model}}

<div class="container">
  <div class="project-wrapper settings">
    {{outlet}}
  </div>
</div>
