{{project-header project=model}}

<div class="thankyou-container">
  <div class="icon"><img src="" alt="Project Icon"/></div>
  <h3 class="header">Thank you!</h3>
  <div class="text">From all the volunteers on the {{model.title}} team.</div>
  <div class="project-link">{{#link-to "project" model}}Back to project{{/link-to}}</div>
</div>