.team-section {
  @include span-columns(12);
  margin: 30px 0;
  text-align: center;

  h2 {
    color: $dark-text;
    font-size: 32px;
    font-weight: 500;
    margin: 10px 0;
  }

  h3 {
    color: $extra-light-text;
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0;
  }
}

.team-section-header {
  @include span-columns(6);
  @include shift(3);
  margin-bottom: 30px;
}

.company {
  ul {
    @include span-columns(8);
    @include shift(2);
  }

  li {
    @include span-columns(6);
  }

  img {
    height: 200px;
    width: 200px;
  }

  h4 {
    font-size: 18px;
    margin: 10px 0 5px 0;
  }

  p {
    font-size: 16px;
    margin: 5px 0;
  }
}

.contributors {
  li {
    @include span-columns(12/7);
    @include omega(7n);
    padding: 20px 0;
    text-align: center;
  }

  img {
    height: 100px;
    width: 100px;
  }

  p {
    margin: 5px 0;
  }
}
