.team-section {
  @include span-columns(12);
  margin: 1em 0;
  text-align: center;

  h2 {
    color: $text--dark;
    font-size: $header-font-size-large;
    font-weight: 500;
    margin: 10px 0;
  }

  h3 {
    color: $text--lightest;
    font-size: $header-font-size-small;
    font-weight: 300;
    margin: 10px 0;
  }
}

.team-section-header {
  @include span-columns(6);
  @include shift(3);
  @include media($sm-screen) {
    @include span-columns(10);
    @include shift(1)
  }

  margin-bottom: 1em;
}

.company {
  img {
    border-radius: 100px;
    height: 200px;
    width: 200px;

    @include media($md-screen) {
      border-radius: 75px;
      height: 150px;
      width: 150px;
    }
  }

  ul {
    @include span-columns(10);
    @include shift(1);

    @include media($sm-screen) {
      @include span-columns(12);
      @include shift(0);
    }
  }

  li {
    @include span-columns(4);

    @include media($sm-screen) {
      @include span-columns(12);
      margin-bottom: 1em;
    }
  }


  h4 {
    font-size: $header-font-size-small;
    margin: 10px 0 5px 0;
  }

  p {
    font-size: $body-font-size-normal;
    margin: 5px 0;
  }
}

.contributors {
  ul {
    @include span-columns(12);
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex: 0 1 percentage(1/7);

    @include media($lg-screen) {
      flex: 0 1 percentage(1/5);
    }

    @include media($md-screen) {
      flex: 0 1 percentage(1/4);
    }

    @include media($sm-screen) {
      flex: 0 1 percentage(1/3);
    }

    padding: 0.7em 0;
    text-align: center;
  }

  img {
    height: 100px;
    width: 100px;
  }

  p {
    margin: 5px 0;
  }
}
