.category-item {
  @include span-columns(2.3 of 12);
  margin: 0 10px;
  @include media($sm-screen) {
    @include span-columns(3 of 12);
    margin: 0;
  }
  @include media($xs-screen) {
    @include span-columns(6 of 12);
    margin: 0;
  }

  text-align: center;

  .description {
    @include media($sm-screen) {
      padding: 0 5px;
    }
  }

  .category-icon {
    margin: 10px auto;
  }

  p {
    color: $light-text;
    font-size: $body-font-size-small;
    margin: 10px 0;

    &.selected {
      color: $default-color;
    }
  }
}
