.category-item {
  text-align: center;
  width: 20%;
  @include media($lg-screen) { width: 25%; }
  @include media($md-screen) { width: 33%; }
  @include media($sm-screen) { width: 50%; }
  @include media($xs-screen) { width: 100%; }

  button {
    text-align: left;
  }

  p {
    color: $text--light;
    font-size: $body-font-size-small;
    margin: 10px 0;

    .selected & {
      color: $default-color;
    }
  }
}
