.code-theme-selector {
  cursor: pointer;
  height: 19px;
  width: 24px;

  &.code-theme--dark {
    @include sprite($dark-theme);
  }

  &.code-theme--light {
    @include sprite($light-theme);
  }
}
