.timeline-comment-wrapper {
  @include clearfix;
  position: relative;
  margin: 20px 0;
  padding-left: 60px;

  &:first-child {
    margin: 10px 0 10px 0;
  }

  .icon {
    float: left;
    margin-left: -60px;
  }

  .code-theme-selector {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.comment-content {
  position: relative;
  border: 1px solid $background-gray;
  border-radius: 4px;
  padding: 10px 10px 0 10px;
}

.comment-info {
  position: relative;
  font-size: $body-font-size-small;
  color: $text--light;
  line-height: 20px;

  a {
    &.username {
      color: $text--light;
      font-weight: 600;
    }

    &.edit {
      margin-left: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.comment-body {
  padding: 10px 0;
}
