.timeline-comment-wrapper {
  @include clearfix;
  position: relative;
  margin: 15px 0;
  padding-left: 60px;

  .code-theme-selector {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.task-details .timeline-comment-wrapper {
  margin: 0;
}

.timeline-comment-avatar {
  float: left;
  margin-left: -60px;
}

.comment-content-wrapper {
  background: #FFF;
  border-bottom: 2px solid #FFF;
  border-top: 2px solid #FFF;
}

.comment-content {
  position: relative;
  border: 1px solid $border-gray;
  border-radius: 4px;
  padding: 0 10px;
}

.comment-info {
  position: relative;
  font-size: $body-font-size-small;
  color: $text--light;
  line-height: 20px;
  margin: 2px 0 5px 0;

  a {
    &.username {
      color: #555;
      font-weight: 600;
    }

    &.edit {
      margin-left: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.comment-body {
  padding: 10px 0;
}
