.donation-container {
  @include span-columns(5);
  @include shift(7/2);

  @include media($lg-screen) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($md-screen) {
    @include shift(1);
    @include span-columns(10);
  }

  @include media($sm-screen) {
    @include shift(0);
    @include span-columns(12);
  }

  h3 {
    margin-top: 35px;
    margin-top: 2.5em;
    font-weight: 600; //semi-bold
  }
  button {
    width: 100%;
  }
  footer {
    color: $text--light;
    font-size: $body-font-size-small;
    margin-top: 2em;
  }
}

.donation-container__amount {
  background-color: $blue--background;
  border: 2px solid $blue--light;
  border-radius: 5px;
  margin: 20px 0;
  padding: 15px;
  h3 {
    margin: 0;
  }
  footer {
    color: $text--light;
    font-size: $body-font-size-small;
    margin: 0;
  }
}

.credit-card-form {
  &__icon-list {
    margin-bottom: 15px;
  }
  .cancel-add-card {
    margin: 10px 0;
    text-align: center;
  }
}

select.month {
  min-width: 50px;
}

select.year {
  min-width: 70px;
}
