.donation-goal-edit{
  .donation-goal-edit__amount-group {
    background: $background-gray;
    border: 1px solid;
    border-color: $gray;
    border-radius: 4px;
    float: left;
    margin: 0 0 10px 0;

    .donation-goal-edit__amount-group__amount, .donation-goal-edit__amount-group__currency, .donation-goal-edit__amount-group__period {
      display: inline-block;
    }

    .donation-goal-edit__amount-group__currency, .donation-goal-edit__amount-group__period {
      padding: 0 10px;
    }

    .donation-goal-edit__amount-group__amount {
      background: #FFF;
      border-color: $gray;
      border-width: 0 1px;
      border-radius: 0;
    }
  }
}
