.donation-container {
  @include span-columns(5);
  @include shift(7/2);

  .donation-amount {
    background-color: $light-blue;
    border: 2px solid $border-light-blue;
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;

    h3 {
      margin: 0;
    }

    .footnote {
      display: flex;
      justify-content: space-between;
    }
  }

  h3 {
    margin-top: 35px;
  }

  button {
    width: 100%;
  }
}

.credit-card-form {
  &__icon-list {
    margin-bottom: 15px;
  }
}

select.month {
  min-width: 50px;
}

select.year {
  min-width: 70px;
}
