.editor-with-preview {
  textarea {
    font-family: $body-font-family;
    width: 100%;
  }

  .editor-header {
    margin: 0 0 10px 0;
    position: relative;
  }

  .spinner {
    @include fadeIn;
    display: inline-block;
    vertical-align: middle;
  }

  .code-theme-selector {
    position: absolute;
    margin: auto;
    bottom: 0; right: 0; top: 0;
  }
}

.spinner {
  &.small {
    $file: "/assets/images/icons/spinner-small";
    @include background-image-retina($file, "gif", 24px, 24px);
    height: 24px;
    width: 24px;
  }
}
