.error-wrapper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

  color: white;
  width: 100%;

  img {
    border-radius: 6px;
    width: 100%;
  }

  p {
    margin: 20px;
  }
}

.error-wrapper-content {
  max-width: 500px;
}

.center-pseudo {
  align-items: center;
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.maintenance-icon {
  font-size: 72px;
}

.not-found-img {
  margin: auto;
  @include background-image-retina('https://d3pgew4wbk2vb1.cloudfront.net/images/404-error', 'png', 150px, 150px);
}

.server-error-img {
  margin: auto;
  @include background-image-retina('https://d3pgew4wbk2vb1.cloudfront.net/images/server-error', 'png', 150px, 150px);
}
