.github-app-installation {
  border: 1px solid $gray--lightest;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px 20px;

  &__details {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    > div {
      display: flex;
    }

    h4 {
      font-weight: 700;
      line-height: 40px;
      margin: 0 0 0 10px;
    }

    img {
      border-radius: 4px;
      height: 40px;
      width: 40px;
    }

    a, span {
      color: $text--lightest;
      font-size: $body-font-size-small;
      line-height: 40px;

      &:hover {
        color: $red;
      }
    }
  }

  &__repos {
    border-top: 1px solid $gray--lightest;
    padding: 10px 20px;
  }
}
