.github-connect-state__user {
  align-items: center;
  display: inline-flex;
  flex-direction: row;

  img {
    border-radius: 4px;
    height: 50px;
    margin-right: 10px;
    width: 50px;
  }

  p {
    margin: 0;
  }
}

.github-connect.button {
  align-items: center;
  display: inline-flex;
  .sprite-icon {
    padding-right: 7px;
  }
}
