.github-repo {
  border-left: 3px solid #FFF;
  border-bottom: 1px solid $border-gray;
  padding: 5px 20px 4px 20px;

  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    vertical-align: middle;
  }

  &__name {
    .sprite-icon {
      padding-right: 5px;
      svg {
        display: inline-block;
        fill: #000;
        vertical-align: middle;
      }
    }
  }

  &__actions {
    display: flex;
    font-size: $body-font-size-small;

    a {
      color: $text--lightest;
    }
  }

  &:hover {
    background: $blue--lightest;
    border-left: 3px solid $blue;
    cursor: pointer;
  }

  &:hover &__actions {
    a {
      color: $blue;
    }
  }

  &--connected {
    .github-repo__name {
      color: $blue;
      font-weight: 600;
      svg {
        fill: $blue;
      }
    }
  }
}

.github-repo .callout {
  margin: 10px 0;
}
