@mixin outside-border($width, $style, $color, $radius: 5px) {
  $border-radius: $radius + ($width * 2);

  &:before {
    border-color: $color;
    border-radius: $border-radius;
    border-style: $style;
    border-width: $width;
    content: "";
    position: absolute;
    top: -$width;
    left: -$width;
    right: -$width;
    bottom: -$width;
    z-index: -1;
  }

  &--circle {
    &:before {
      border-radius: $border-radius;
    }
  }
}

.image-drop {
  $size: 150px;
  $border-radius: $size / 2;

  height: $size;
  width: $size;
  border-radius: 5px;
  background: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &.is-large {
    $size: 200px;
    height: $size;
    width: $size;

    @include media($sm-screen) {
      height: 100px;
      width: 100px;
    }
  }

  .hover {
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;

    p {
      &:before {
        @include sprite($camera);
        content: "";
        display: block;
        margin: 0 auto;
      }

      color: white;
      display: block;
      font-size: $body-font-size-normal;
      margin: 5px 0;
      padding: 0 10px;
      text-align: center;
      width: 100%;
    }
  }

  &--circle {
    border-radius: $border-radius;

    .hover {
      border-radius: $border-radius;
    }

    input[type=file] {
      border-radius: $border-radius;
    }
  }

  &--drag {
    @include outside-border(2px, dashed, $gray--lightest);

    &.image-drop--circle {
      @include outside-border(2px, default, $gray--lightest, $border-radius);
    }

    background: transparent !important;

    p {
      display: block;
    }
  }

  &--active {
    background: $blue--background !important;

    &:before {
      border-color: $blue--dark;
    }

    p {
      color: $blue--dark;
    }
  }

  &:hover:not(.image-drop--drag) {
    @include outside-border(2px, solid, $blue--dark);

    &.image-drop--circle {
      @include outside-border(2px, solid, $blue--dark, $border-radius);
    }

    .hover {
      display: flex;
      align-items: center;
    }
  }
}

.image-drop p {
  color: #a9a9a9;
  display: none;
  width: 80%;
  text-align: center;
}

.image-drop p.help-text {
  font-size: $body-font-size-normal;
  line-height: 22px;
  margin: 0 auto;
}

.image-drop .text {
  width: 100%;
  position: absolute;
  top: 50%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.image-drop input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  z-index: 3;
}
