.member-list-item {
  @include outer-container;
  align-items: center;
  border-top: 1px solid $gray--lightest;
  display: flex;
  padding: .7em 1em;
  position: relative;
  &:hover {
    background-color: #F9F9F9;
  }
  &:last-child {
    border-bottom: 1px solid $gray--lightest;
  }
}

.project-member {
  &__actions {
    @include span-columns(2);
    text-align: right;
  }
  &__avatar {
    @include span-columns(1);
  }
  &__name {
    @include span-columns(3);
    strong {
      font-weight: 700;
    }
  }
  &__skills {
    color: $text--lighter;
    font-size: $body-font-size-small;
    @include span-columns(6);
    ul {
      margin-top: 6px;
    }
    li {
      display: inline-block;
      &:after {
        content: ", ";
      }
      &:last-child {
        // confused by the selector below
        &:not(:first-child):before {
          content: "and ";
        }
        &:after {
          content: ".";
        }
      }
    }
  }
}

.member-list-item {
  h4 {
    color: $text--dark;
    font-size: $body-font-size-normal;
    font-weight: 700;
    margin: 0;
  }
}
