.menu {
  padding: 10px 0;

  ul {
    list-style-type: none;
    @include clearfix;
  }

  a.active {
    font-weight: 600;
  }

  ul.header-nav {
    > li {
      display: inline-block;
      float: left;
      font-size: $body-font-size-normal;
    }

    > li > a, .user-menu-select {
      font-weight: 600;
      border-bottom: 3px solid transparent;

      &.active {
        color: $link-color;
        border-bottom-color: $dark-blue;
      }

      &:hover {
        color: $link-color;
        border-bottom-color: $dark-blue;
        transition: border-bottom-color ease 0.3s;
      }
    }
  }
}

.main-nav, .auth-nav {
  font-family: $body-font-family;
  font-style: normal;
  font-size: $body-font-size-small;
  font-weight: 500;
  padding: 0 30px;

  li a {
    display: block;
    padding: 15px 10px;
    color: $dark-text;
  }
}

.onboarding-progress {
  float: right;
  padding: 23px 0 22px 0;
  width: 180px;
}

.onboarding-steps {
  padding: 0 30px;
}

@include media($xs-screen) {
  .site-logo {
    display: block;
    float: none;
  }
}
