.organization-header {
  margin: 10px 0;

  @include clearfix;

  h2 {
    margin: 10px 0;
    font-size: $header-font-size-medium;
  }

  p {
    margin: 3px 0;
    font-size: $body-font-size-normal;
  }

  a {
    color: $hidden-link-color;
    &:hover {
      color: $link-hover-color;
    }
  }

  .icon-container, .details-container {
    float: left;
  }

  .details-container {
    padding-left: 10px;
  }
}
