.organization-members {
  h3 {
    display: flex;
    justify-content: space-between;

    span {
      color: $blue;
      font-weight: 300;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  li {
    width: calc(20% - 16px/5);
    margin-right: 4px;

    &:nth-child(5n) {
      margin-right: 0;
    }

    .icon {
      height: auto;
      width: 100%;
    }
  }
}
