@mixin member-list-item($number, $margin-right) {
  $percentage: 100 / $number;
  $total-margins: $margin-right * $number;
  $width: calc(#{$percentage}% - #{$total-margins / $number});

  margin-right: $margin-right;
  width: $width;

  &nth-child(#{$number}n) {
    margin-right: 0;
  }
}

.organization-members {
  h3 {
    display: flex;
    justify-content: space-between;

    span {
      color: $blue;
      font-weight: 300;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  li {
    $number: 6;
    $margin-right: 3px;
    @include member-list-item(6, 3px);

    .icon {
      height: auto;
      width: 100%;
    }

    @include media($md-screen) {
      @include member-list-item(9, 3px);
    }

    @include media($sm-screen) {
      @include member-list-item(6, 3px);
    }
  }
}
