.post-details {
  @mixin post-image-icon($type) {
    .post-icon:before {
      $file: "/assets/images/icons/" + $type + "-icon";
      @include background-image-retina($file, "png", 24px, 24px);
      // background-image: url("/assets/images/icons/" + $type + "-icon.png");
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
    }
  }

  .post-header {
    @include outer-container;
    border-bottom: 1px solid $border-default;
    margin: 10;

    .post-icon {
      @include span-columns(1);
    }

    .post-title {
      @include span-columns(11);
      @include omega();
    }
  }

  .post-body {
    position: relative;
    border-bottom: 1px solid $border-default;

    button.edit {
      position: absolute;
      top: 0;
      right: 0;
    }

    .controls {
      margin: 10px;
    }
  }


  &.task {
    @include post-image-icon('task');
  }

  &.issue {
    @include post-image-icon('bug');
  }

  &.progress {
    @include post-image-icon('progress');
  }

  &.idea {
    @include post-image-icon('idea');
  }
}
