.post-header {
  @include outer-container;
  @include span-columns(12);

  padding: 10px 0;

  &.task {
    @include postItemIcon($task);
  }

  &.issue {
    @include postItemIcon($issue);
  }

  &.idea {
    @include postItemIcon($idea);
  }

  .post-icon {
    float: left;

    &:before {
      margin: 9px 0 0 0;
    }
  }

  .post-title {
    padding-left: 35px;
  }
}
