.posts {
  margin: 10px 0;
}

.post-item {
  @include clearfix;
  border-top: 1px solid $border-light;
  margin: 0;
  padding: 15px;
  text-align: left;

  &:hover {
    background-color: $background-gray;
  }

  &:last-child {
    border-bottom: 1px solid $border-light;
  }

  .post-icon {
    float: left;
  }

  .post-content {
    padding-left: 35px;
  }

  a {
    color: $dark-text;
    font-weight: 700;

    &:hover {
      color: $link-hover-color;
    }
  }

  &.task {
    @include postItemIcon($task);
    &:hover {
      background-color: $task-background;
    }
    a:hover {
      color: $task-color;
    }
  }

  &.issue {
    @include postItemIcon($issue);
    &:hover {
      background-color: $issue-background;
    }
    a:hover {
      color: $issue-color;
    }
  }

  &.idea {
    @include postItemIcon($idea);
    &:hover {
      background-color: $idea-background;
    }
    a:hover {
      color: $idea-color;
    }
  }
}

.post-title {
  font-size: 17px;
}

.post-description {
  font-size: 13px;
  color: $light-text;
}

.main-description {
  float: left;
}

.post-item {
  .skills {
    float: left;
    margin-left: 15px;
    li {
      display: inline-block;
      padding-right: 5px;
      a {
        font-weight: 300;
        &:hover {
          color: $link-hover-color;
        }
      }
      &.matched {
        a {
          color: $link-color;
          font-weight: 600;
        }
      }
    }
  }
}

.post-expertise {
  margin-top: 5px;
  font-size: 11px;
  color: $extra-light-text;
  &.beginner {
    @include postExpertiseIcon($beginner);
  }
  &.intermediate {
    @include postExpertiseIcon($intermediate);
  }
  &.expert {
    @include postExpertiseIcon($expert);
  }
}
