@mixin post-image-icon($type) {
  .post-icon:before {
    $file: "/assets/images/icons/" + $type + "-icon";
    @include background-image-retina($file, "png", 24px, 24px);
    // background-image: url("/assets/images/icons/" + $type + "-icon.png");
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 9px 0 0 0;
  }
}

.post-header {
  @include outer-container;
  @include span-columns(12);

  padding: 10px 0;
  border-bottom: 1px solid $border-light;

  &.task {
    @include post-image-icon('task');
  }

  &.issue {
    @include post-image-icon('bug');
  }

  &.progress {
    @include post-image-icon('progress');
  }

  &.idea {
    @include post-image-icon('idea');
  }

  .post-icon {
    float: left;
  }

  .post-title {
    padding-left: 35px;
  }
}
