.post-new-form {
  @include clearfix;
  margin-top: 20px;
  padding-left: 60px;
  position: relative;

  .icon {
    float: left;
    margin-left: -60px;
  }

  .post-new-form-body {
    position: relative;
    border: 1px solid $background-gray;
    border-radius: 4px;
    padding: 10px 10px 0 10px;
  }

  &.task .post-new-form-body {
    border-color: $task-background;
  }

  &.issue .post-new-form-body {
    border-color: $issue-background;
  }

  &.progress .post-new-form-body {
    border-color: $progress-background;
  }

  &.idea .post-new-form-body {
    border-color: $idea-background;
  }

  .post-type.input-group {
    &:before {
      content: "";
      display: block;
      float: left;
      margin: 5px 10px 5px 0px;
    }

    &.task {
      &:before {
        @include sprite($task);
      }
    }

    &.issue {
      &:before {
        @include sprite($issue);
      }
    }

    &.progress {
      &:before {
        @include sprite($progress);
      }
    }

    &.idea {
      &:before {
        @include sprite($idea);
      }
    }
  }
}
