.horizontal-menu {
  @include clearfix;

  border-bottom: 1px solid $gray;
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%;

  li {
    float: left;
    font-size: $body-font-size-normal;
  }

  a {
    border-bottom: 3px solid transparent;
    color: $text--lighter;
    display: block;
    font-weight: 500;
    margin-bottom: -1px;
    padding: 6px 14px;
    text-decoration: none;

    &.active {
      border-bottom-color: $blue;
      color: $blue;
      font-weight: 700;

      span.info {
        background: $blue;
      }
    }

    &:hover {
      border-bottom-color: $blue;
      color: $blue;
      transition: border-bottom-color ease 0.3s;

      span.info {
        background: $blue;
      }
    }

    span.info {
      background: $text--lighter;
      border-radius: 4px;
      color: white;
      font-size: $body-font-size-small;
      font-weight: 300;
      padding: 2px 7px 3px 7px;
      margin-left: 5px;
      vertical-align: 1px;

      strong {
        font-weight: 700;
      }
    }
  }
}
