.project-card {
  @include omega(3n);
  @include span-columns(4);
  border: 1px solid $border-light;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  @include media($sm-screen) {
    @include omega(0);
    @include span-columns(6);
  }
  @include media($xs-screen) {
    @include span-columns(12);
  }

  .icon-container {
    text-align: center;
  }

  h4 {
    font-size: $header-font-size-small;
    font-weight: 600;
    margin: 10px 0 4px 0;
    text-align: center;

    a {
      color: $dark-text;
      &:hover {
        color: $dark-blue;
      }
    }
  }

  p {
    color: $light-text;
    font-size: $body-font-size-small;
  }

  .organization {
    margin: 4px 0;
    text-align: center;
  }

  .categories {
    height: 35px;
    margin: 15px 0;
    text-align: center;
    li {
      display: inline-block;
      height: 35px;
      margin: 0 5px;
      width: 35px;
    }
  }

  .description {
    $font-size: $body-font-size-small;
    $line-height: 1.3;
    $lines-to-show: 3;

    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
