.project-item {
  margin: 10px 0;

  @include clearfix;

  h4 {
    margin: 9px 0;
    font-size: $header-font-size-small;
  }

  p {
    margin: 8px 0 3px 0;
    font-size: $body-font-size-small;
  }

  .icon-container, .details-container {
    float: left;
  }

  .details-container {
    padding-left: 10px;
  }
}
