.posts-menu {
  @include clearfix;

  margin: 10px 0;

  .dropdown-menu {
    li {
      padding: 1px 0;
    }
  }

  .statuses {
    margin: 0 20px;

    li {
      display: inline-block;
      font-size: 14px;
      padding: 7px 0;

      &:first-child {
        margin-right: 10px;
      }
    }

    a {
      color: $extra-light-text;
      font-weight: 300;

      &.active {
        font-weight: 700;
      }

      &.closed {
        &:hover, &.active {
          color: $danger-color;
        }
      }

      &.open {
        &:hover, &.active {
          color: $default-color;
        }
      }
    }
  }
}

@mixin postTypeFilter($type) {
  $color: map-get($postTypeColors, $type);

  color: $color;
  transition: none;

  &:before {
    @include sprite(map-get($postTypeIcons, $type));
  }

  &.selected:after {
    @include sprite($tick-white);
  }

  &:hover, &.selected {
    background: $color;
    color: white;
    &:before {
      @include sprite(map-get($postTypeIconHovers, $type));
    }
  }
}

.filter {
  color: $light-text;
  display: block;
  font-size: 14px;
  line-height: 22px;
  padding: 4px 32px;
  width: 160px;

  &:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px -6px 0;
  }

  &:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-top: 8px;
    position: absolute;
    left: 10px;
  }

  &.tasks {
    @include postTypeFilter("task");
  }

  &.issues {
    @include postTypeFilter("issue");
  }

  &.ideas {
    @include postTypeFilter("idea");
  }
}

@mixin tagLink($color, $hoverTextColor: white) {
  a {
    border-color: $color;
    color: $color;

    &:hover {
      background: $color;
      color: $hoverTextColor;
    }
  }
}

.posts-filters {
  margin: 10px 0;

  p {
    color: $extra-light-text;
    float: left;
    font-size: 14px;
    line-height: 27px;
    margin: 0;
  }

  ul {
    display: inline-block;
    font-size: 0;
    margin: 0;

    &.groups {
      > li {
        margin-left: 10px;
        ul li {
          margin-right: 5px;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }

  li {
    display: inline-block;

    &.all {
      @include tagLink($extra-light-text);
    }

    &.task {
      @include tagLink($dark-blue);
    }

    &.issue {
      @include tagLink($red);
    }

    &.idea {
      @include tagLink($dark-yellow, $dark-text);
    }
  }

  a {
    border: 1px solid $border-default;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 8px 2px 8px;

    span {
      font-size: 18px;
      font-weight: 900;
      margin-right: 2px;
    }

    &:hover {
      color: white;
    }
  }
}
