.project-details {
  margin: 0 0 10px 0;

  @include clearfix;

  .basic-details {
    @include span-columns(8);
  }

  .more-details {
    @include span-columns(4);
  }

  .join-project {
    font-size: $body-font-size-small;
    margin: 7px 0;
  }

  h2 {
    margin: 10px 0;
    font-size: $header-font-size-medium;

    a {
      color: $hidden-link-color;
      &:hover {
        color: $link-color;
      }
    }
  }

  p {
    margin: 3px 0;
    font-size: $body-font-size-small;
  }

  .icon-container {
    float: left;
  }

  .details-container {
    padding-left: 70px;
  }

  .organization {
    margin-top: 8px;
    font-size: $body-font-size-small;
    min-height: 25px;
  }
}
