  .project-grid-item-members-list {
    height: 25px;
    margin: 10px 0 0 0;

    li {
      display: inline-block;
      padding-right: 5px;
      vertical-align: middle;

      &:last-child {
        padding-right: 0px;
      }
    }
  }
