.project__header {
  width: 100%;

  @include clearfix;

  $icon-size--large: 50px;
  $icon-size--small: 40px;

  &__icon {
    float: left;
  }

  &__icon, &__icon .icon {
    height: $icon-size--large;
    width: $icon-size--large;

    @include media($sm-screen) {
      height: $icon-size--small;
      width: $icon-size--small;
    }
  }

  &__details {
    float: left;
    padding-left: 10px;
  }

  &__main {
    display: flex;
    @include span-columns(8);
    @include media($sm-screen) {
      @include span-columns(12);
    }
  }

  &__side {
    @include span-columns(4);
    @include media($sm-screen) {
      display: none;
    }

    display: flex;
    align-items: center;
    height: 50px;
    justify-content: flex-end;

    button {
      vertical-align: middle;
    }

    > span {
      color: $blue;
    }
  }

  h2 {
    margin: 10px 0;
    font-size: $header-font-size-medium;

    @include media($sm-screen) {
      font-size: $header-font-size-small;
    }

    a {
      color: $hidden-link-color;
      &:hover {
        color: $link-color;
      }
    }
  }

  p {
    font-size: $body-font-size-small;
  }

  .organization {
    margin-top: 8px;
    font-size: $body-font-size-small;
    min-height: 25px;
  }
}
