// is this a generic component? it seems to be used for projects
// so project-settings__menu would be a better class name

.settings-menu {
  li {
    a {
      border-left: 1px solid transparent;
      color: $text--lightest;
      display: block;
      padding: 10px 15px;

      &:hover {
        background: $blue--lighter;
        border-color: $gray;
        color: $blue;
      }

      &.active {
        border-color: $blue;
        color: $blue;
      }
    }
  }
}
