.settings-menu {
  li {
    a {
      border-left: 1px solid transparent;
      color: $text--lighter;
      display: block;
      padding: 10px 15px;

      &:hover {
        background: $blue--light;
        border-color: $border-default;
        color: $blue;
      }

      &.active {
        border-color: $blue;
        color: $blue;
      }
    }
  }
}
