// Styles both clickable and unclickable items
.skill-list-item a, .skill-list-item > span {
  color: $text--dark;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    margin: -2px 2px 0 0;
    vertical-align: middle;
  }

  &.matched {
    color: $blue--dark;

    &:not(.just-removed) {
      font-weight: 600;
      &:before {
        @include sprite($tiny-check);
      }
    }
  }
}

// Only for the link
.skill-list-item a {
  cursor: pointer;

  &.just-removed {
    color: $blue--dark;
  }

  &:focus {
    outline: none;
  }

  &:hover:not(.matched) {
    color: $blue--dark;
  }

  &:hover.matched {
    &:not(.just-clicked) {
      color: $danger-color;
      text-decoration: line-through;

      &:before {
        @include sprite($tiny-x);
        margin-left: 2px;
      }
    }
  }
}
