.skills-list {
  li {
    display: inline-block;
    margin-right: 5px;

    &.matched {
      color: $blue--dark;
      font-weight: 700;
    }
  }
}

.task-skills-list {
  .skill {
    margin-bottom: 5px;
  }
}
