.skills-typeahead-container {
  margin: 0.6em 0;
}

.skills-typeahead {
  &--centered {
    margin: 0 auto;
  }

  position: relative;

  input {
    width: 100%;
  }

  .dropdown-menu {
    min-width: 250px;
  }
}

li.skill-dropdown-item {
  font-weight: 500;
  padding: 0;

  &.has-skill {
    &.selected {
      background: $red--light;

      a {
        color: $danger-color;
        text-decoration: line-through;

        &:after {
          @include sprite($cross-red);
        }
      }
    }

    a {
      color: $blue;
    }
  }

  &.selected {
    background: $blue--background;

    a {
      &:after {
        @include sprite($enter-blue);
      }
    }
  }

  a {
    color: $text--dark;
    display: block;
    padding: 10px 10px;
    transition-property: none;
    width: 100%;

    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 10px;
      margin-top: 5px;
      position: absolute;
      right: 10px;
    }
  }
}
