.tasks {
  margin: 10px 0;
}

.task-item {
  @include clearfix;
  border-top: 1px solid $gray--lightest;
  margin: 0;
  padding: 15px;
  text-align: left;

  &:hover {
    background-color: $background-gray;
  }

  &:last-child {
    border-bottom: 1px solid $gray--lightest;
  }

  .task-icon {
    float: left;
  }

  .task-content {
    padding-left: 35px;
  }

  a {
    color: $text--dark;
    font-weight: 700;

    &:hover {
      color: $link-hover-color;
    }
  }

  &.task {
    @include taskItemIcon($task);
    &:hover {
      background-color: $task-background;
    }
    a:hover {
      color: $blue;
    }
  }

  &.issue {
    @include taskItemIcon($issue);
    &:hover {
      background-color: $red--light;
    }
    a:hover {
      color: $red;
    }
  }

  &.idea {
    @include taskItemIcon($idea);
    &:hover {
      background-color: $yellow--light;
    }
    a:hover {
      color: $yellow;
    }
  }
}

.task-title {
  font-size: $body-font-size-large;
  line-height: 24px;
}

.task-description {
  font-size: $body-font-size-small;
  color: $text--light;
}

.main-description {
  float: left;
}

.task-item {
  .skills {
    float: left;
    margin-left: 15px;
    li {
      display: inline-block;
      padding-right: 5px;
      a {
        font-weight: 300;
        &:hover {
          color: $link-hover-color;
        }
      }
      &.matched {
        a {
          color: $link-color;
          font-weight: 600;
        }
      }
    }
  }
}

.task-expertise {
  margin-top: 5px;
  font-size: $body-font-size-small;
  color: $text--lighter;
  &.beginner {
    @include taskExpertiseIcon($beginner);
  }
  &.intermediate {
    @include taskExpertiseIcon($intermediate);
  }
  &.expert {
    @include taskExpertiseIcon($expert);
  }
}
