@mixin task-card-hover {
  background-color: #FAFAFA;
}

.task-card {
  background: white;
  border: 1px solid $gray--lightest;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  max-width: 300px;
  padding: 0.5em 0.7em;

  .github__pull-request-icon {
    float: left;
    margin-right: 5px;
    margin-top: 1px;
  }

  &__assignee {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    span:nth-child(2) {
      margin: 0 5px;
    }
  }

  &__meta {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 7px 0;
  }

  &__number {
    color: $text--lighter;
    font-weight: 300;
  }

  &__time {
    color: $text--lighter;
    font-size: $body-font-size-small;
  }

  &__title-group {
    margin: 0 0 7px 0;
  }

  &__title {
    cursor: pointer;
    font-weight: 600;
    margin-right: 5px;
    word-wrap: break-word;

    &:hover {
      color: $blue;
    }
  }

  &--can-reposition {
    &:hover {
      cursor: pointer;
    }
  }

  &--is-loading {
    div {
      &.long {
        background: $background-gray;
        height: 20px;
        margin-bottom: 5px;
        width: 100%;
      }

      &.short {
        background: $background-gray;
        height: 20px;
        margin-bottom: 5px;
        width: 50%;
      }
    }
  }

  &.gu-mirror {
    @include task-card-hover;
    box-shadow: -2px 2px 6px #CCC;
    cursor: grab;
    opacity: 1.0;
    transform: rotate(5deg);
  }

  a {
    color: $text--dark;
    font-weight: 700;

    &:hover {
      color: $link-hover-color;
    }
  }

  &:hover { @include task-card-hover; }
}
