.task-status-badge {
  @include span-columns(12);

  margin-bottom: 10px;
}

.task-status {
  border-radius: 4px;
  color: white;
  float: left;
  padding: 5px 8px;

  &:before {
    content: "";
    display: inline-block;
    margin: 0 8px -4px 0;
    height: 20px;
    width: 20px;
  }

  &.closed {
    background: $red;

    &:before {
      @include sprite($closed-white);
    }
  }

  &.open {
    background: $blue;

    &:before {
      @include sprite($open-white);
    }
  }
}
