.task-card {
  background: white;
  border: 1px solid $border-light;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 0.7em 1em;

  p {
    margin: 0 0 7px 0;

    &:last-child {
      margin: 0;
    }
  }

  &__icon {
    margin-right: 5px;
  }

  &__meta {
    display: flex;
  }

  &__number {
    color: $extra-light-text;
  }

  &__time {
    color: $extra-light-text;
    font-size: $body-font-size-small;
  }

  &__title {
    font-weight: 600;
    margin-right: 5px;
  }

  &--can-reposition {
    &:hover {
      cursor: pointer;
    }
  }

  &--is-loading {
    border-top: 2px solid $gray;
    div {
      background: $background-gray;
      height: 20px;
      margin-bottom: 5px;

      &.long {
        width: 100%;
      }

      &.short {
        width: 50%;
      }
    }
  }

  &--idea {
    border-top: 2px solid $idea-color;
    &:hover { background-color: $idea-background; }
    .task-card__icon { @include taskBoardIcon($idea-small); }
  }

  &--issue {
    border-top: 2px solid $issue-color;
    &:hover { background-color: $issue-background; }
    .task-card__icon { @include taskBoardIcon($issue-small); }
  }

  &--task {
    border-top: 2px solid $task-color;
    &:hover { background-color: $task-background; }
    .task-card__icon { @include taskBoardIcon($task-small); }
  }

  &.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    opacity: 1.0;
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    &.task-card--idea { background-color: $idea-background; }
    &.task-card--issue { background-color: $issue-background; }
    &.task-card--task { background-color: $task-background; }
    box-shadow: -2px 2px 6px #CCC;
  }

  a {
    color: $dark-text;
    font-weight: 700;

    &:hover {
      color: $link-hover-color;
    }
  }
}
