.task-new-form {
  @include clearfix;
  margin-top: 20px;
  padding-left: 60px;
  position: relative;

  .icon {
    float: left;
    margin-left: -60px;
  }

  .task-new-form-body {
    position: relative;
    border: 1px solid $background-gray;
    border-radius: 4px;
    padding: 10px 10px 0 10px;
  }
}
