.task-card {
  background: white;
  border: 1px solid $border-light;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 0.7em 1em;

  p {
    margin: 0 0 7px 0;

    &:last-child {
      margin: 0;
    }
  }

  &__icon {
    margin-right: 5px;
  }

  &__meta {
    display: flex;
  }

  &__number {
    color: $extra-light-text;
  }

  &__time {
    color: $extra-light-text;
    font-size: $body-font-size-small;
  }

  &__title {
    font-weight: 600;
    margin-right: 5px;
  }

  &--idea {
    border-top: 2px solid $idea-color;
    &:hover { background-color: $idea-background; }
    .task-card__icon { @include taskBoardIcon($idea-small); }
  }

  &--issue {
    border-top: 2px solid $issue-color;
    &:hover { background-color: $issue-background; }
    .task-card__icon { @include taskBoardIcon($issue-small); }
  }

  &--task {
    border-top: 2px solid $task-color;
    &:hover { background-color: $task-background; }
    .task-card__icon { @include taskBoardIcon($task-small); }
  }

  a {
    color: $dark-text;
    font-weight: 700;

    &:hover {
      color: $link-hover-color;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
