.task-title {
  display: flex;

  h2 {
    flex-grow: 1;
    font-weight: 600;
    margin: 0;
  }

  input {
    flex-grow: 1;
    height: 42px;
    margin-right: 10px;
  }

  .input-group {
    margin: 0;
    width: inherit;
  }

  .task-number {
    color: $text--lightest;
    font-weight: 300;
    margin-left: 5px;
  }
}
