.task-list-container {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin-left: 7px;
  white-space: nowrap;
  width: 280px;

  &:first-child {
    margin-left: 10px;
  }

  &:last-child {
    margin-right: 10px;
  }
}

.task-list {
  border: 1px solid #DFDFDF;
  background-color: #F7F7F7;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;

  &__name {
    font-weight: 600;
    padding: 8px 6px;
  }
}

.task-list-cards {
  margin: 0 3px;
  min-height: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 3px;
  white-space: normal;

  &::-webkit-scrollbar {
    height: 0px;
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 6px;
    opacity: 0.5;
  }

  &::-webkit-scrollbar-track {
    background-color: #EEE;
    border-radius: 6px;
  }
}
