.task-list {
  border: 1px solid #DDD; // need a new border color, slightly lighter?
  background-color: #FAFAFA;
  border-radius: 4px;
  height: 100%;
  width: 290px;
  overflow-y: scroll;
  margin-right: 7px;
  padding: 8px 10px;
  white-space: normal;

  &__name {
    font-weight: 600;
    margin-bottom: 10px;
  }
}
