.task-header {
  @include clearfix;
  @include outer-container;
  @include span-columns(12);

  padding: 10px 0;

  &.task {
    @include taskItemIcon($task);
  }

  &.issue {
    @include taskItemIcon($issue);
  }

  &.idea {
    @include taskItemIcon($idea);
  }

  .task-icon {
    float: left;

    &:before {
      margin: 9px 0 0 0;
    }
  }

  .task-title {
    padding-left: 35px;
    line-height: inherit;
  }
}
