.task-list-container {
  &:first-child {
    .task-list {
      margin-left: 10px;
    }
  }

  &:last-child {
    .task-list {
      margin-right: 10px;
    }
  }
}

.task-list {
  border: 1px solid #DFDFDF;
  background-color: #F7F7F7;
  border-radius: 4px;
  margin-left: 7px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 8px 6px;
  white-space: normal;
  width: 280px;

  &__name {
    font-weight: 600;
    margin-bottom: 10px;
  }
}

// .task-list-cards {
//   height: 100%;
// }
