.user-menu {
  position: relative;

  &:hover {
    .user-menu__arrow {
      border-color: $link-color transparent;
    }
  }
}

// classes below should be .user-menu--hidden and .user-menu--visible
// to follow BEM but it was causing problems with the dropdown toggle

.menu-hidden {
  .user-menu__arrow {
    @include arrow-down;
  }
}

.menu-visible {
  .user-menu__arrow {
    @include arrow-up;
  }
}

.user-menu a {
  padding: 5px 0 2px 0;
}

.user-menu__avatar {
  background: $gray;
  border-radius: 18px;
  height: 35px;
  line-height: 1;
  vertical-align: middle;
  width: 35px;
}
