.user-list-item {
  @include outer-container;
  border-top: 1px solid $gray--lightest;
  display: flex;
  position: relative;

  @include media($sm-screen) {
    padding: .7em 0;
  }

  &:first-child {
    border-top: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.project-user {
  &__user {
    min-width: 300px;
    padding: .7em 1em;

    &__avatar {
      float: left;

      a {
        display: flex;
      }
    }

    &__name {
      padding: 3px 10px 3px 35px;

      @include media($sm-screen) {
        padding: 3px 0 3px 35px;
      }

      a {
        color: $text--dark;

        &:hover {
          color: $blue;
          text-decoration: underline;
        }
      }
    }
  }

  &__conversation {
    width: 50px;
  }

  &__actions {
    padding: .7em 1em;
    text-align: left;

    button {
      margin-top: 2px;
    }

    @include media($sm-screen) {
      display: flex;
      justify-content: space-between;
      button {
        flex: 1;
        margin-right: 5px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.user-list-item {
  h4 {
    color: $text--dark;
    font-size: $body-font-size-normal;
    font-weight: 700;
    margin: 0;
  }
}
