.user-projects-list {
  @include span-columns(9);
}

.user-project-item {
  @include span-columns(12);
  margin: 5px 0;

  h4 {
    font-size: $header-font-size-small;
    font-weight: 700;
    margin: 7px 0;
  }

  p {
    margin: 3px 0;
    color: $text--light;
  }

  img {
    border-radius: 4px;
    width: 60px;
    height: 60px;
  }

  .thumb {
    float: left;
  }

  .content {
    margin-left: 70px;
  }
}

.empty-state {
  color: $text--light;
}
