.user-list-item {
  @include outer-container;
  border-top: 1px solid $gray--lightest;
  padding: .7em 1em;
  position: relative;

  @include media($sm-screen) {
    padding: .7em 0;
  }

  &:hover {
    background-color: #F9F9F9;
  }
  &:last-child {
    border-bottom: 1px solid $gray--lightest;
  }
}

.project-user {
  &__user {
    @include span-columns(4);

    @include media($sm-screen) {
      @include span-columns(12);

      .icon {
        height: 40px;
        width: 40px;
      }
    }

    &__avatar {
      float: left;
    }

    &__name {
      padding: 5px 10px 5px 60px;

      @include media($sm-screen) {
        padding: 2px 0 2px 50px;
      }

      strong {
        font-weight: 700;
      }
    }
  }

  &__actions {
    @include span-columns(3);

    text-align: left;

    button {
      margin-top: 5px;
    }

    @include media($sm-screen) {
      @include span-columns(12);
      display: flex;
      justify-content: space-between;
      button {
        flex: 1;
        margin-right: 5px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  &__skills {
    @include span-columns(5);
    padding-top: 5px;

    @include media($sm-screen) {
      @include span-columns(12);
      padding-left: 50px;

      h4 {
        display: none;
      }

      .user__skills-list ul {
        margin: 0;
      }
    }

    font-size: $body-font-size-small;
  }
}

.user-list-item {
  h4 {
    color: $text--dark;
    font-size: $body-font-size-normal;
    font-weight: 700;
    margin: 0;
  }
}
