.user-list-item {
  @include outer-container;
  align-items: center;
  border-top: 1px solid $gray--lightest;
  display: flex;
  padding: .7em 1em;
  position: relative;
  &:hover {
    background-color: #F9F9F9;
  }
  &:last-child {
    border-bottom: 1px solid $gray--lightest;
  }
}

.project-user {
  &__actions {
    @include span-columns(2);
    text-align: right;
  }
  &__avatar {
    @include span-columns(1);
  }
  &__name {
    @include span-columns(3);
    strong {
      font-weight: 700;
    }
  }
  &__skills {
    @include span-columns(6);
    font-size: $body-font-size-small;
  }
}

.user-list-item {
  h4 {
    color: $text--dark;
    font-size: $body-font-size-normal;
    font-weight: 700;
    margin: 0;
  }
}
