.user-sidebar {
  @include span-columns(3);
  img {
    width: 100%;
    border-radius: 4px;
  }

  h2 {
    margin: 10px 0;
  }

  .username {
    font-size: 16px;
    font-weight: 500;
    color: $light-text;
  }

  .details {
    margin: 10px 0;
    padding: 10px 0;
    font-size: 14px;
    color: $light-text;

    li {
      padding: 4px 0;
    }

    .twitter {
      @include userSidebarIcon($twitter);
    }

    .website {
      @include userSidebarIcon($link);
    }
  }
}
