.volunteer-headshot {
  @include omega(6n);
  @include span-columns(2);
  display: inline-block;
  margin-bottom: 1em;

  &__name {
    font-weight: 600;
    margin: 0;
  }

  &__role {
    font-size: $body-font-size-small;
    color: $light-text;
    margin-top: 0;
  }

  img {
    border-radius: 10px;
  }
}
