.StripeElement {
  background-color: #FAFAFA;
  border: 1px solid #BBB;
  border-radius: 4px;
  font-weight: 700;
  padding: 9px 12px;
}

.StripeElement--focus {
  background-color: #FFFFFF;
  border-color: $blue;
}

.StripeElement--invalid {
  border-color: $red;
}

.StripeElement--webkit-autofill {
  background-color: #FEFDE5 !important;
}

.ember-stripe-element button {
  margin-top: 10px;
}
