{{#each (reject-by 'fixed' true flashMessages.queue) as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    <div class="full-width-container">
      <div class="container">
        <p>{{flash.message}}</p>
        <span class="alert__close">&times;</span>
      </div>
    </div>
  {{/flash-message}}
{{/each}}
