<div class="tasks-menu">
  <div class="left">
    {{link-to 'New task' 'project.tasks.new' tagName='button' class="default small new-task"}}
  </div>
</div>
<div class="task-board-container">
  {{#ember-dragula config=dragulaconfig class="task-board" drop="onDrop"}}
    {{#each project.taskLists as |taskList|}}
      <div class="task-list-container">
        {{task-list class="task-list" taskList=taskList}}
      </div>
    {{/each}}
  {{/ember-dragula}}
</div>
