<div class="tasks-menu">
  <div class="left">
    {{link-to 'New task' 'project.tasks.new' invokeAction=(action 'trackClickNewTask' project) tagName='button' class="default small new-task"}}
  </div>
</div>

<div class="task-board-container">
  <div class="task-board-wrapper">
    {{#ember-dragula class="task-board" drop="onDrop" config=dragulaconfig as |drake|}}
      {{#each orderedTaskLists as |taskList|}}
        <div class="task-list-container">
          <div class="task-list">
            <div class="task-list__name">{{taskList.name}}</div>
            {{task-list-cards
              clickedTask=(route-action "transitionToTask")
              drake=drake
              taskList=taskList
              users=users
            }}
          </div>
        </div>
      {{/each}}
    {{/ember-dragula}}
  </div>
</div>
