<div class="styleguide-heading">SVG Sprite Icon</div>

<div class="styleguide-section">
  <div class="styleguide-item">
    <div class="styleguide-instructions">
      A github icon <code class="styleguide-code">style="solid-black"</code>.
      With color setting<code class="styleguide-code">style="solid-green"</code>.
    </div>
    {{svg/sprite-icon icon="github-48" size="20" style="solid-black"}}
  </div>

  <div class="styleguide-item">
    <div class="styleguide-instructions">
      A svg icon<code class="styleguide-code">icon="github=48"</code>.
      With color setting<code class="styleguide-code">style="solid-green"</code>.
    </div>
    {{svg/sprite-icon icon="github-48" size="20" style="solid-green"}}
  </div>
</div>
