<div class="container">
  <form>
    <h2>Reset your password</h2>

    <p data-test-id="forgot-password-header">Enter your email and we'll send you a link to reset your password.</p>

    <div class="input-group">
      {{#auto-focus}}
        {{input name="email" autocapitalize="off" type="text" value=email}}
      {{/auto-focus}}
    </div>

    <div class="input-group">
      <button id="reset-password" class="default" type="submit" disabled={{isLoading}} {{action "forgotPassword" email}}>
       Send password reset email
      </button>
    </div>

    {{#if error}}
      {{error-formatter error=error}}
    {{/if}}
  </form>
</div>
