.github__issue-link {
  a {
    align-items: center;
    display: flex;
  }

  &__repo-name {
    color: $text--lighter;
    font-weight: 600;
    margin-left: 5px;
  }

  &__issue-number {
    color: $text--lightest;
    margin-left: 5px;
  }

  a:hover {
    .github__issue-link__repo-name, .github__issue-link__issue-number {
      color: $link-hover-color;
    }
  }
}

a:hover {
  .size-16 {
    fill: url(#solid-dark-blue);
  }
}
