.github__issue-link {
  a {
    align-items: flex-start;
    display: flex;
  }

  &__icon {
    line-height: 1em;
    padding-right: 5px;
  }

  &__text {
    font-size: $body-font-size-small;
  }

  &__repo-name {
    color: $text--lighter;
    font-weight: 600;
    padding-right: 2px;
  }

  &__issue-number {
    color: $text--lightest;
    padding-right: 5px;
  }

  &__external-icon {
    color: $text--lightest;
  }

  a:hover {
    .github__issue-link__repo-name,
    .github__issue-link__issue-number,
    .github__issue-link__external-icon {
      color: $link-hover-color;
    }
  }
}

a:hover {
  .size-16 {
    fill: url(#solid-dark-blue);
  }
}
