// pace (automatic page loader progress bar)
// http://github.hubspot.com/pace/
.pace-progress {
  background: $blue;
}

.drag-zone {
  height: 100%;
}

.site-header {
  border-bottom: 1px solid $border-gray;
  display: block;
  padding: 0 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  line-height: 45px;
  margin: 0;
  min-height: 45px;

  a {
    @include sprite($logo-small);
    display: inline-block;
    text-indent: -9999px;

    @include media($sm-screen) {
      @include sprite($logo-small-icon-only);
    }
  }
}

.header-navigation {
  &--left {
    display: flex;
    flex: 2;
    order: 1;
  }

  &--middle {
    display: flex;
    flex: 1;
    order: 2;
    justify-content: center;
  }

  &--right {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    order: 3;
  }
}

.header-navigation__options {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;

  li {
    display: inline-block;
    float: left;
    font-size: $body-font-size-normal;
  }

  a {
    border-bottom: 3px solid transparent;
    color: $text--dark;
    display: block;
    font-weight: 600;
    padding: 11px 10px;

    &.header-navigation__icon-link {
      color: $gray;
      font-size: 24px;
      padding: 4px 10px;
    }

    &.active, &:hover {
      border-bottom-color: $blue;
      color: $link-color;
    }

    &:hover {
      transition: border-bottom-color ease 0.3s;
    }
  }
}

.header-navigation--onboarding {
  display: flex;
  margin-left: auto;
}

.onboarding__continue {
  padding: 7px 0;
}

.onboarding__progress {
  padding: 18px 0 17px 0;
  width: 100px;

  .progress-bar-container {
    height: 7px;
  }
}

.onboarding__steps {
  padding: 12px 0;
}
