.site-header {
  display: flex;
  height: 5em;
  padding: .7em 0;
}

.header__logo {
  line-height: 50px;
  margin: 0;
  a {
    @include sprite($logo);
    display: inline-block;
    text-indent: -9999px;
  }
}

.header__navigation {
  &--main, &--auth {
    padding: 0 30px;
  }
}

.header__navigation {
  &--main, &--auth {
    li {
      display: inline-block;
      float: left;
      font-size: $body-font-size-normal;
    }
  }
}

.header__navigation {
  &--main, &--auth {
    a {
      border-bottom: 3px solid transparent;
      color: $text--dark;
      display: block;
      font-weight: 600;
      padding: 15px 10px;
      &.active, &:hover {
        border-bottom-color: $blue;
        color: $link-color;
      }
      &:hover {
        transition: border-bottom-color ease 0.3s;
      }
    }
  }
}

.header__navigation--auth {
  margin-left: auto;
}

.header__navigation--onboarding {
  display: flex;
  margin-left: auto;
}

.onboarding__progress {
  padding: 23px 0 22px 0;
  width: 180px;
}

.onboarding__steps {
  padding: 0 30px;
}
