// pace (automatic page loader progress bar)
// http://github.hubspot.com/pace/
.pace-progress {
  background: $blue;
}

.drag-zone {
  height: 100%;
}

.site-header {
  border-bottom: 1px solid #EEE;
  display: block;
  height: 53px;
  padding: 0 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  line-height: 50px;
  margin: 0;
  a {
    @include sprite($logo-small);
    display: inline-block;
    text-indent: -9999px;

    @include media($sm-screen) {
      @include sprite($logo-small-icon-only);
    }
  }
}

.header-navigation {
  &--left {
    display: flex;
    flex: 2;
    order: 1;
  }

  &--middle {
    display: flex;
    flex: 1;
    order: 2;
    justify-content: center;
  }

  &--right {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    order: 3;
  }
}

.header-navigation__options {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;

  li {
    display: inline-block;
    float: left;
    font-size: $body-font-size-normal;
  }
  a {
    border-bottom: 3px solid transparent;
    color: $text--dark;
    display: block;
    font-weight: 600;
    padding: 15px 10px;
    &.active, &:hover {
      border-bottom-color: $blue;
      color: $link-color;
    }
    &:hover {
      transition: border-bottom-color ease 0.3s;
    }
  }
}

.header-navigation--onboarding {
  display: flex;
  margin-left: auto;
}

.onboarding__progress {
  padding: 23px 0 22px 0;
  width: 180px;
}

.onboarding__steps {
  padding: 0 30px;
}
