.ember-modal-overlay.translucent {
  background: rgba(0,0,0, 0.70)
}

.ember-modal-dialog {
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

.modal {
  padding: 0 1em;
}

.modal-close {
  color: white;
  cursor: pointer;
  font-size: $header-font-size-small;
  position: absolute;
  top: -25px; left: -20px;
}

.modal__header {
  h3 {
    font-size: $header-font-size-small;
    margin: 0.7em;
    text-align: center;
  }
}

.modal__warning {
  background: $red--light;
  border-top: 1px solid $red;
  border-bottom: 1px solid $red;
  padding: 0 20px;
  margin: 9px -1em -10px -1em;
}

.modal__content {
  border-bottom: 1px solid $border-gray;
  border-top: 1px solid $border-gray;
  margin: 10px -1em 0 -1em;
  padding: 1em;

  &--no-vertical-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--without-top-border {
    border-top: none;
  }

  ul {
    margin-left: 30px;
  }

  li {
    list-style-type: disc;
    padding: 0 0 5px 0;
  }
}

.modal__target-user {
  align-items: center;
  background: $gray--background;
  border-bottom: 1px solid $gray--lighter;
  border-top: 1px solid $gray--lighter;
  display: flex;
  margin: 0 -1em 1em -1em;
  padding: 1em;

  span {
    display: flex;
    padding-right: 5px;
  }

  &__username {
    color: $text--lightest;
    font-size: $body-font-size-small;
  }
}

.modal__actions {
  padding: 10px 0;

  p {
    margin-top: 0;
  }

  button {
    width: 100%;
  }

  .input-group {
    margin-bottom: 0.7em;
  }
}

.invite-users-modal {
}

.table-rows {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
  position: relative;

  &--header {
    font-weight: 700;
    .table-cell {
      padding-bottom: 0.5em;
    }
  }
}

.table-cell {
  display: table-cell;
  line-height: 22px;
  padding: 0 5px 0 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;

  &:last-child {
    padding-right: 0;
    text-align: left;
  }

  &--shrink {
    width: 1px;
  }
}
