.modal {
  padding: 0;
  width: 400px;

  h2 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
  }
}

.modal-close {
  color: white;
  cursor: pointer;
  font-size: $header-font-size-small;
  position: absolute;
  top: -25px; left: -20px;
}

.modal__header {
  margin-top: 10px;
  padding: 10px;
}

.modal__warning {
  background: $red--light;
  border-top: 1px solid $red;
  border-bottom: 1px solid $red;
  padding: 0 20px;
  margin-top: 9px;
  margin-bottom: -10px;
}

.modal__content {
  margin-top: 10px;
  padding: 1em;
  border-bottom: 1px solid $border-gray;
  border-top: 1px solid $border-gray;

  &--no-vertical-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--without-top-border {
    border-top: none;
  }

  ul {
    margin-left: 30px;
  }

  li {
    list-style-type: disc;
    padding: 0 0 5px 0;
  }
}

.modal__target-user {
  align-items: center;
  background: $gray--background;
  border-bottom: 1px solid $gray--lighter;
  border-top: 1px solid $gray--lighter;
  display: flex;
  margin: 0 -1em 1em -1em;
  padding: 1em;

  span {
    padding-right: 5px;
  }

  &__username {
    color: $text--lightest;
    font-size: $body-font-size-small;
  }
}

.modal__actions {
  padding: 10px;

  p {
    margin-top: 0;
  }

  button {
    width: 100%;
  }

  .input-group {
    margin-bottom: 0.7em;
  }
}
