.panel {
  position: relative;

  &--highlighted {
    &:before {
      content: "";
      position: absolute;
      top: 0; left: -20px; bottom: 0; right: -20px;
      background-color: #FFF;
      background-image: -webkit-linear-gradient(#FFF, $blue--lightest);
      background-image: linear-gradient(#FFF, $blue--lightest);
      box-shadow: inset 0 -1px 0 rgba(0,0,0,.05);
    }
  }
}

.panel__section {
  padding: 1em 0;
  position: relative;

  &__description {
    float: left;
    width: 25%;

    h3 {
      color: $blue;
      font-size: $header-font-size-small;
      margin: 0;
    }

    h4 {
      margin: 0;
    }

    p {
      color: $text--light;
      font-size: $body-font-size-small;
      margin: 0.5em 0 0 0;
    }
  }

  &__content {
    float: left;
    margin-left: 8.33333%;
    width: 66.66667%;

    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      color: $text--light;
      font-size: $body-font-size-normal;
    }
  }

  @include clearfix;
}
