.details-form {
  &__recipient-type {
    input {
      margin-right: 1em;
    }

    label {
      background-color: #FCFCFC;
      border: 1px solid #DDD;
      border-radius: 4px;
      cursor: pointer;
      min-height: 2em;
      padding: 1em;

      &.checked {
        background: $light-blue-background;
        border-color: $dark-blue;
      }
    }
  }

  p:first-child {
    margin-top: 0;
  }

  input[type="text"] {
    background: white;
  }

  input[type="submit"] {
    margin-left: 140px;
  }

  .input-section {
    display: flex;
    flex-direction: row;
    margin: 20px 0;

    &__label {
      width: 140px;
    }

    &__content {
      flex-grow: 1;
    }

    .select-country select {
      width: 100%;
    }
  }

  .input-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .input--state {
      width: 48%;

      .select-state select {
        width: 100%;
      }
    }

    .input--state,
    .input--zipcode {
      width: 48%;
    }
  }
}
