.details-form {
  &__recipient-type {
    input {
      margin-right: 1em;
    }

    label {
      background-color: #FCFCFC;
      border: 1px solid #DDD;
      border-radius: 4px;
      cursor: pointer;
      min-height: 2em;
      padding: 1em;

      &.checked {
        background: $blue--lighter;
        border-color: $blue--dark;
      }
    }
  }

  p:first-child {
    margin-top: 0;
  }

  input[type="text"] {
    background: white;
  }

  input[type="submit"] {
    margin-left: 140px;
  }
}
