<div data-test-page-menu class="page-menu page-menu--horizontal">
  <div class="container">
    <ul>
      <li>
        {{link-to "Invites" "admin.organization-invites.index" data-test-index-link}}
      </li>
      <li>
        {{link-to "Send invite" "admin.organization-invites.new"}}
      </li>
    </ul>
  </div>
</div>

{{outlet}}
