<div data-test-page-menu class="page-menu page-menu--horizontal">
  <div class="container">
    <ul>
      <li>
        {{link-to "Projects" "admin.projects.index" data-test-index-link}}
      </li>
    </ul>
  </div>
</div>

{{outlet}}
