<div class="select-dropdown__header">
  <label>Assign someone to this task</label>
  <div {{action "hide"}} class="select-dropdown__header__close">&times;</div>
</div>

<div class="select-dropdown__filter">
  {{select-textfield
    autofocus=true
    getKeyDown=(action "getKeyDown")
    placeholder="Filter people"
    value=query
  }}
</div>

<div class="select-dropdown__results">
  <ul>
    {{#each results as |user index|}}
      {{task/user/users-list-item
        hover="hoverUser"
        query=query
        selectUser="selectUser"
        selected=user.selected
        task=task
        user=user
        userTask=userTask
      }}
    {{/each}}
  </ul>
</div>
