<h3>Support this project each month</h3>
<div class="amounts">
{{#each presetAmounts as |presetAmount|}}
  {{donations/donation-amount-button
    click=(action "selectPresetAmount" presetAmount)
    presetAmount=presetAmount
    selected=(eq presetAmount (float amount))
  }}
{{/each}}
</div>
<div class="custom-amount">
  <div class="input-group">
    <span class="input-group-addon currency">$</span>
    {{input class="amount" name="amount" type="number" min=0 placeholder="Custom amount" step=1 value=customAmount}}
    <span class="input-group-addon period">per month</span>
  </div>
</div>
<button class="continue default large" disabled={{continueDisabled}} {{action continue selectedAmount}}>Continue</button>
