.github-event__title {
  display: flex;
  justify-content: space-between;
  margin: 1em 0 0 0;

  h4 {
    margin: 0;
  }

  > span {
    align-items: center;
    display: inline-flex;

    > span {
      padding-left: 10px;
    }
  }
}
