<div class="task-sidebar-section__header">
  <h3>Integrations</h3>
</div>

{{#if task.githubIssueNumber}}
  {{github/issue-link
    githubRepo=task.githubRepo
    number=task.githubIssueNumber
    size="large"
  }}
{{else}}
  <p data-test-empty-message>None yet</p>
{{/if}}
