.start__expertise {
  display: flex;
  flex: 1;
  margin-bottom: 2em;
  justify-content: space-around;
  width: 100%;
}

.start__expertise {
  button, button.clear {
    margin-bottom: .7em;
    padding: .8em;
    text-align: left;
    width: 16em;
  }
}

.expertise__column {
  &--creative {
    &::before {
      @include rolesSprite($creative);
      content: "";
      float: left;
      height: 5em;
      margin-bottom: .5em;
      width: 100%;
    }
  }
  &--technology {
    &::before {
      @include rolesSprite($technology);
      content: "";
      float: left;
      height: 5em;
      margin-bottom: .5em;
      top: 0;
      width: 100%;
    }
  }
  &--support {
    &::before {
      @include rolesSprite($support);
      content: "";
      float: left;
      height: 5em;
      margin-bottom: .5em;      
      top: 0;
      width: 100%;
    }
  }

  h3 {
    color: $text--dark;
    font-size: $header-font-size-medium;
    font-weight: 300;
    margin: 20px 0;
  }
}
