.start-roles {
  margin: 30px 0;
}

.roles-column {
  @include span-columns(4);
  text-align: center;
  @include media($xs-screen) {
    @include span-columns(12);
  }

  h3 {
    color: $dark-text;
    font-size: $header-font-size-medium;
    font-weight: 300;
    margin: 20px 0;
    @include media($sm-screen) {
      margin-top: 10px;
    }
  }
}

.roles-column-header {
  display: inline-block;

  &.creative {
    @include rolesSprite($creative);
    margin-left: 5px;
  }

  &.technology {
    @include rolesSprite($technology);
  }

  &.support {
    @include rolesSprite($support);
  }
}
