.hello-container {
  display: flex;
  flex-wrap: wrap-reverse;
}

.form-area {
  @include span-columns(6);
  margin: 30px 0;

  h2 {
    color: $dark-text;
    font-size: $header-font-size-large;
    font-weight: 500;
    margin: 30px 0;
  }

  p {
    color: $extra-light-text;
    font-size: $body-font-size-normal;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0;
  }
  @include media($sm-screen) {
    @include span-columns(12);
    margin-top: 0;
    padding: 0 10%;
    text-align: center;
  }
}


.form {
  margin-top: 30px;

  .photo {
    float: left;
    text-align: center;
    width: 150px;
  }

  .name {
    float: left;
    padding: 0 20px;
    width: 328px;
  }

  @include media($sm-screen) {
    .photo, .name {
      float: none;
      margin: 0 auto;
    }
  }

  .input-group input {
    width: 50%;

    &:first-child {
      border-right: none;
    }
  }
}

.image-area {
  @include span-columns(6);
  @include media($sm-screen) {
    @include span-columns(12);
  }
}

.people-signup {
  $file: "/assets/images/people-signup";
  @include background-image-retina($file, "png", 410px, 396px);
  float: right;
  @include media($sm-screen) {
    background-position: -2px -236px;
    width: 410px;
    height: 160px; 
    float: none;
    margin: 0 auto;
  }
}
