.start__hello {
  $file: "/assets/images/people-signup";
  @include background-image-retina($file, "png", 410px, 396px);
  background-position: right center;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  padding-right: 50%;
  width: 100%;
}

.hello__column {
  width: 30%;
  &:first-of-type {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-bottom: 2em;
    width: 100%;
  }
  &:last-of-type {
    padding-left: 5%;
    width: 70%;
  }
  h2 {
    color: $text--dark;
    font-size: $header-font-size-large;
    font-weight: 500;
    margin: 30px 0;
  }
  p {
    color: $text--lighter;
    font-size: $body-font-size-normal;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0;
  }

}

.hello__column {
  .input-group input {
    width: 50%;
    &:first-child {
      border-radius: 4px 0 0 4px;
      border-right: none;
    }
  }
}
