.start__skills {
  display: flex;
  flex: 1;
  flex-direction: column;
  //justify-content: center;
  margin-bottom: 2em;
}

.skills__list {
  text-align: center;
  button {
    margin: 0 .5em 1em 0;
  }
  div {
    display: inline-block;
  }
  p {
    color: $text--lightest;
    font-style: italic;
  }
}
