.start__skills {
  display: flex;
  flex-direction: column;
}

.skills__list {
  text-align: center;
  margin: auto;
  button {
    margin: 0 .5em 1em 0;
  }
  div {
    display: inline-block;
  }
  p {
    color: $text--lighter;
    font-style: italic;
  }
}

.skills__input {
  text-align: center;
  width: 100%;
}
