.start__skills {
  display: flex;
  flex: 1;
  flex-direction: column;
  //justify-content: center;
  margin-bottom: 2em;

  @include shift(3.5);
  @include span-columns(5);

  @include media($lg-screen) {
    @include shift(2);
    @include span-columns(8);
  }

  @include media($md-screen) {
    @include shift(0);
    @include span-columns(12);
  }
}

.skills__list {
  text-align: center;

  &--main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 56px;
  }

  button {
    margin: 0 5px 5px 0;
  }

  div {
    display: inline-block;
  }

  p {
    color: $text--lightest;
    font-style: italic;
  }
}
