<div>
  {{#x-select value=month on-change=(action update 'selectedMonth') as |xs|}}
    {{#each monthOptions as |monthOption|}}
      {{#xs.option value=monthOption.number}}{{monthOption.text}}{{/xs.option}}
    {{/each}}
  {{/x-select}}

  {{#x-select value=day on-change=(action update 'selectedDay') as |xs|}}
    {{#each dayOptions as |dayOption|}}
      {{#xs.option value=dayOption}}{{dayOption}}{{/xs.option}}
    {{/each}}
  {{/x-select}}

  {{#x-select value=year  on-change=(action update 'selectedYear') as |xs|}}
    {{#each yearOptions as |yearOption|}}
      {{#xs.option value=yearOption}}{{yearOption}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
</div>
