//
// ACCOUNT SETUP SECTIONS
//
.account-setup > section, .account-setup__section {
  label {
    display: block;
    font-weight: 600;
    margin-bottom: .3em;
  }

  section {
    @include span-columns(9);
  }
}

//
// STATES
//
.account-setup__section--required {
  @include outer-container;
}

.account-setup .panel--highlighted-green {
  h3:before {
    content: "";
    display: block;
    float: left;
    margin: 0 10px 0 0;
    @include sprite($tick-green-large);
  }
}
