.project-main {
  @include span-columns(8);
}

.project-sidebar {
  @include span-columns(4);

  .project-sidebar__section {
    margin: 40px 0;

    &:first-child {
      margin-top: 0px;
    }
  }

  h3 {
    margin: 20px 0;
  }
}
