.project-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 100%;

  &--index {
    flex-direction: row;
  }

  @include media($sm-screen) {
    flex-direction: column;
  }
}

.project-main {
  @include span-columns(8);
  @include media($lg-screen) {
    @include span-columns(7);
  }
  @include media($sm-screen) {
    order: 2;
    @include span-columns(12);
  }
}

.project-sidebar {
  @include span-columns(4);
  @include media($lg-screen) {
    @include span-columns(5);
  }
  @include media($sm-screen) {
    order: 1;
    @include span-columns(12);
  }

  .project-sidebar__section {
    margin: 40px 0;
    &:first-child {
      margin-top: 0px;
    }
  }
  h4 {
    margin: 20px 0 10px 0;
  }
}
