.thank-you-container {
  margin: 3em;
  text-align: center;

  &__project-icon {
    margin: 1.4em auto;
    .animated-high-five {
      margin: 0 auto;
    }
  }

  &__contributors {
    @include span-columns(12);
    margin: 1.4em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  h3 {
    font-size: $header-font-size-large;
    font-weight: 600;
    margin: 10px 0;
  }

  &__message {
    color: $light-text;

    p {
      margin-bottom: 1.4em;
    }
  }
}
