{{title "About"}}

<div class="container">
  <div class="about-us">
    <h2>We help people build simple software<br/>that solves hard problems.</h2>
    <div class="airplane-icon-container">
      <div class="airplane-icon"></div>
    </div>
    <h3>We were promised flying cars and we got targeted advertising.</h3>
    <div class="cars-icon"></div>
    <h3>Where are the apps to challenge poverty or end climate change?</h3>
    <div class="rocketship-icon"></div>
    <h3>We want to build these things not because they are easy,<br/>but because they are hard. Here's our plan:</h3>
    <ul>
      <li class="step">
        <div class="connect-icon"></div>
        <h4>Connect People</h4>
        <p>We're matching developers and designers, project managers and marketers – any and every talent – to ambitious projects that need their help.</p>
      </li>
      <li class="step">
        <div class="support-icon"></div>
        <h4>Provide Support</h4>
        <p>We're educating and training, developing and encouraging people who build public software. We want to help projects be successful and people to do their best work.</p>
      </li>
      <li class="step">
        <div class="fund-icon"></div>
        <h4>Fund Projects</h4>
        <p>We're building a crowdfunding platform to support ongoing work. We aim to keep funders engaged in projects and connected to the teams they're supporting.</p>
      </li>
      <li class="step">
        <div class="develop-icon"></div>
        <h4>Develop New Tools</h4>
        <p>We're developing tools to help people collaborate on, organize, and even distribute their work. We're listening closely to hear what needs built, and then building it.</p>
      </li>
    </ul>
    <div class="help">
      <h3>We need your help.</h3>
      <p>We're a small team and we can't do this alone.</p>
      <p>{{#link-to "signup" class="button default"}}Join Code Corps today{{/link-to}}</p>
    </div>
  </div>
</div>
