<div class="menu container">
  {{#if session.isAuthenticated}}
    <a class="logout" {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    {{#link-to 'login' class="login"}}Login{{/link-to}}
    {{#link-to 'signup' class="signup"}}Sign up{{/link-to}}
  {{/if}}
</div>
<div class="flash">
{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    <div class="container">
      <p>{{flash.message}}</p>
    </div>
  {{/flash-message}}
{{/each}}
</div>
<div class="main container">
  {{outlet}}
</div>