<div id="landing">
  <div class="landing-section">
    <h2>Build a better future.</h2>
    <h3>Contribute to software projects for {{typed-string strings=typedStrings typeSpeed=70 backDelay=1500 loop=true loopCount=false}}</h3>
    <div class="icons-header"></div>
    {{#link-to 'signup' class="button default large"}}Start Helping{{/link-to}}
  </div>
</div>