<div class="landing">
  <div class="landing-section">
    <h2>Build a better future.</h2>
    <h3>Contribute to software projects for {{typed-string strings=typedStrings typeSpeed=70 backDelay=1500 loop=true loopCount=false}}</h3>
    <div class="icons-header"></div>
    {{#link-to 'signup' class="button default large"}}Start Helping{{/link-to}}
  </div>
  <div class="landing-section">
    <h2>How does it work?</h2>
    <h3>Scroll to learn how you can help.</h3>
    {{#landing-subsection title="First, you’ll say what you care about." minHeight=235 as |animated|}}
      {{demo-categories animated=animated}}
    {{/landing-subsection}}
    {{#landing-subsection title="Then share the skills you know." minHeight=170 as |animated|}}
      {{demo-skills animated=animated}}
    {{/landing-subsection}}
    {{#landing-subsection title="And we'll find projects you can help." minHeight=410 as |animated|}}
      {{demo-projects}}
    {{/landing-subsection}}
    <div class="landing-subsection displayed">
      <div class="landing-subsection-header">
        <h4>Ready to get started?</h4>
      </div>
      <div class="landing-subsection-content">
        {{#link-to 'signup' class="button default large"}}Sign up now{{/link-to}}
      </div>
    </div>
  </div>
</div>
