<div class="oauth-stripe">
  <div class="stripe-details--top"></div>
  <div class="stripe-details">
    <div class="stripe-logo"></div>
    <h3>Connecting with Stripe</h3>
    <p>Hang on while we connect to your Stripe account.</p>
    <div class="stripe-spinner"></div>
  </div>
  <div class="stripe-details--bottom"></div>
</div>
