<div class="legal">
  <h1>Privacy Policy</h1>

  <h2>Welcome to Code Corps!</h2>

  <p>Code Corps is a platform where people can support public software projects by volunteering their time or donating their money.</p>

  <p>“We”, “our”, or “us” refers to Code Corps PBC, a Delaware public benefit corporation and/or its subsidiaries.</p>

  <h2>Privacy Notice</h2>

  <p>We understand that providing information online involves a great deal of trust on your part. We take this trust very seriously, and make it a high priority to ensure the security and confidentiality of the personal information you provide to us when you this website (the “Site”) and services (together with the Site, the “Services”) offered by us.</p>

  <p>As part of our {{#link-to 'terms'}}Terms of Use{{/link-to}}, this Privacy Notice describes the types of personal information we collect on Code Corps, how we may use that information and with whom we may share it. Our Privacy Notice also describes the measures we take to protect the security of the personal information. Before submitting your personal information to us, please read this policy carefully to learn about our privacy practices.</p>

  <h2>Information We Collect</h2>

  <h3>Information that you provide</h3>

  <p>
    <ul class="bulleted">
      <li>To use Code Corps you must first create an account. When creating an account, you will submit to us certain information, which may include:</li>

      <li>information that can identify you (including your name, telephone number, postal and email addresses);</li>

      <li>your login and password details, in connection with the account registration and sign in process;</li>

      <li>payment information including your credit card information for purchases made through the Sites;</li>

      <li>details of any requests or transactions you make through the Sites;</li>

      <li>information about your organization, organization members, projects, project volunteers, donors, location, and preferences, including your project interests, skills, abilities, and other information;</li>

      <li>communications you send to us (for example, asking for support, sending questions or comments, or reporting issues); and</li>

      <li>information that you submit to Code Corps in the form of bug reports, comments, contributions to discussions, feedback, ideas, issues, postings, tasks, or messages to other users.</li>
    </ul>
  </p>

  <h3>Information that is collected automatically</h3>

  <p>We collect certain information by automated means when you visit our Sites, such as how many users visited our Sites and the pages accessed. We collect this information through various means such as “cookies,” “web beacons” and IP addresses, as explained below.</p>

  <p>
    <ul class="bulleted">
      <li><strong>Cookies</strong> - Cookies are bits of text that are placed on your computer’s hard drive when you visit certain websites. Cookies may enhance your online experience by saving your preferences while you are visiting a particular site. Most browsers will tell you how to stop accepting new cookies, how to be notified when you receive a new cookie, and how to disable existing cookies.</li>

      <li><strong>Web Beacons</strong> - Certain pages on our Sites may contain “web beacons” (also know as Internet tags, pixel tags and clear GIFs). These web beacons allow third parties to obtain information such as the IP address of the computer that downloaded the page on which the beacon appears, the URL of the page on which the beacon appears, the time the page containing the beacon was viewed, the type of browser used to view the page, and the information in cookies set by the third party.</li>

      <li><strong>IP Addresses</strong> - When you visit Code Corps, we may view the IP address of the device you use to connect to the Internet. We use this information to determine the general physical location of the device and understand from what geographic regions our website visitors come.</li>
    </ul>
  </p>

  <h2>Sharing of Information </h2>

  <p>Certain data that you submit to us will not be shared with any party outside of Code Corps, except as required to provide our Services (such as payment processing). This data includes:</p>

  <p>
    <ul class="bulleted">
      <li>payment information you provide</li>

      <li>your password details</li>

      <li>your telephone number</li>

      <li>communications you send to us that is not for publication (for example, asking for support or reporting issues).</li>
    </ul>
  </p>

  <p>When we share data with third-parties that support our delivery of the Services, we require that they protect your personal information to the same standards we do. We do reserve the right to disclose personal information if required, for example:</p>

  <p>
    <ul class="bulleted">
      <li>To comply with the law or law enforcement;</li>

      <li>In connection with a corporate transaction, such as a divestiture, merger, consolidation, or asset sale, or bankruptcy; or</li>

      <li>To investigate, prevent, or take action regarding illegal or suspected illegal activities, to protect and defend the rights, property, or safety of Code Corps, our customers, or others, and in connection with our {{#link-to 'terms'}}Terms of Use{{/link-to}} or other agreements.</li>
    </ul>
  </p>

  <h2>Information Shared with Projects, Organizations, and Administrators</h2>

  <p>If you join a project or organization to volunteer your time, or if you donate to a project, we will inform the project’s owner or organization of your account name, email address, details about your skills, interests, abilities, and biographical information. Project owners and administrators are expected to respect the confidentiality of this information. Further, if you donate to a project or organization, we will also inform the project’s owner or organization of the amount of your donation.</p>

  <p>Some projects and organizations may request personal information in order to show their appreciation (for example, they may ask for your mailing address, or your T-shirt size). You may choose to provide that information at your own discretion.</p>

  <p>Projects and organizations have the ability to appoint or accept administrators. These administrators will be able to access the same information available to projects and organizations (including your name, email, contribution amounts, skills, interests, abilities, and biographical information). These administrators are required to treat your personal information with the same care and respect expected of projects and organizations.</p>

  <p>Projects, organizations, and administrators may also receive anonymized information about the ways people visit and interact with their project and organizations, in the form of basic analytics.</p>

  <h2>Information Shared with the Public</h2>

  <p>When you create an account, a basic profile page for you will be created on Code Corps. The profile is not searchable on Code Corps, but is accessible to search engines like Google. It will be available to any visitor of Code Corps. The profile page may contain:</p>

  <p>
    <ul class="bulleted">
      <li>the account name and the account creation date </li>

      <li>profile information (such as a picture, biographical information, or your location)</li>

      <li>projects you’ve contributed to financially (but not the amount of your contribution)</li>

      <li>projects or organizations you’ve joined or created</li>

      <li>any comments, discussion, feedback, or posts that you’ve submitted to Code Corps that is not otherwise confidential.</li>
    </ul>
  </p>

  <p>Each project page and organization page also lists the community of users who have contributed to the project, either by joining, volunteering their time, or by donating money.</p>

  <p>To modify or delete the personal information you have provided to us, please log in and update your profile. We may retain certain information associated with your account in our archives for analytical purposes and recordkeeping integrity.</p>

  <h2>How We Use Your Personal Information</h2>

  <p>We will use the personal information you provide to:</p>

  <p>
    <ul class="bulleted">
      <li>identify you when you sign in to Code Corps;</li>

      <li>administer your account with us and enable us to provide you with the Services;</li>

      <li>send you marketing communications we think you may find useful, but only in accordance with your email preferences;</li>

      <li>present projects or organizations to you that we believe will be of interest based on your skills, interests, abilities and previous use of the Services;</li>

      <li>enable us to contact you regarding any question made through the Services;</li>

      <li>analyze the use of the Services and the people visiting to improve our content and Services; and</li>

      <li>use for other purposes that we may disclose to you when we request your information.</li>
    </ul>
  </p>

  <p>We take your data, your privacy, and your trust very seriously. We never post anything to third-party accounts like Facebook, Twitter, or GitHub without your permission. Project creators and organizations never receive your credit card details or other payment information. We do not sell, rent, trade or otherwise disclose personal information visitors submit through our Sites, except as described in this Privacy Notice.</p>

  <h2>Data Storage and Ownership</h2>

  <p>Code Corps uses third-party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run Code Corps. Although we own the code, databases, and all rights to the Code Corps application (according to the various licenses for Code Corps’ software), you retain all rights to your own data.</p>

  <h2>Email</h2>

  <p>We want to send email to you only if you want to hear from us. We will send you email relating to your personal transactions, like payments or activity. You will also receive certain marketing emails, in accordance with your preferences, and from which you may opt out any time. We may send you service-related announcements on the rare occasions when it is necessary to do so. We try to keep emails to a minimum and give you the ability to opt out of any emails we send.</p>

  <h2>Childrens’ Privacy</h2>

  <p>Code Corps is a general audience site and does not offer services directed to children. Should an individual whom we know to be a child under age 13 send personal information to us, we will delete or destroy such information as soon as reasonably possible.</p>

  <h2>External Links</h2>

  <p>Occasionally we provide links to other websites for your convenience and information. These websites operate independently from our Sites and are not under our control. These sites may have their own privacy notices or terms of use, which we strongly suggest you review if you visit any linked websites. We are not responsible for the content of these sites, any products or services that may be offered through these sites, or any other use of the linked sites.</p>

  <h2>Your California Privacy Rights</h2>

  <p>California Civil Code Section 1798.83 permits California residents to request certain information regarding our disclosure of Personal Information to third parties for their direct marketing purposes. To make such a request, please contact us at the address provided below.</p>

  <p>To the extent required by law, we provide users with (i) reasonable access to the personal information they provide through the Sites, and (ii) the ability to review, correct and delete such personal information. To help protect your privacy, we take reasonable steps to verify your identity before granting access to your information.</p>

  <p>We may transfer the personal information we collect through the Sites to other countries where we do business, which may not have the same data protection laws as the country in which you reside. We strive to protect all information we receive in accordance with this Privacy Policy.</p>

  <h2>Updates to Our Privacy Notice</h2>

  <p>We may update or change this Privacy Notice from time to time and without prior notice to you. We will post a prominent notice on this web page to notify you of any significant changes to our Privacy Notice and indicate at the top of the notice when it was most recently updated.</p>

  <h2>How to Contact Us</h2>

  <p>If you have any questions about our information practices, please contact us at <a href="mailto:team@codecorps.org">team@codecorps.org</a> or you can write to us at:</p>

  <p>
    Code Corps PBC<br />
    4166 Wilson Ave #1<br />
    San Diego, CA 92104
  </p>

  <p>Effective December 7, 2016</p>

  <h2>Disclaimer</h2>

  <p>This Privacy Notice is a draft and is subject to review. We will inform all users about future changes.</p>
</div>
