{{title "Projects"}}

<div class="container">
  {{#each projects as |project|}}
    {{#link-to 'project' project.organization.slug project.slug class="project-card-wrapper"}}
      {{project-card project=project}}
    {{/link-to}}
  {{/each}}
</div>
