{{#each projects as |project|}}
  {{project-grid-item project=project}}
{{/each}}
<div class="temporary-projects-notice">
  <div class="curved-arrow-icon"></div>
  <p>Hey! So we’re only working on Code Corps as we build our core features.</p>
  <p>We want to get things right for us first, so thanks for your help and patience.</p>
  <p>Have a project idea when we’re ready?</p>
  <p><a href="https://codecorps.typeform.com/to/rMxOCA" target="_blank" class="button default small">Submit your idea</a></p>
</div>