<div class="container">
  {{project-header project=model}}
</div>

{{project-menu project=model}}

{{#if session.isAuthenticated}}
  {{#if (can "manage project" model)}}
    {{project-notifications
      project=model
      submitForReview=(route-action "submitForReview" model)
    }}
  {{/if}}
{{/if}}

{{outlet}}
