<div class="team-section company">
  <div class="team-section-header">
    <h2>Our Team</h2>
    <h3>We're a small self-funded team building tools for people who want to shape the world with software.</h3>
  </div>
  <ul>
    <li>
      <img width="200" height="200" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/josh-smith.png">
      <h4>Josh Smith</h4>
      <p>Founder & CEO</p>
    </li>
    <li>
      <img width="200" height="200" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/nikola-begedin.png">
      <h4>Nikola Begedin</h4>
      <p>Founder & CTO</p>
    </li>
  </ul>
</div>
<div class="team-section contributors">
  <div class="team-section-header">
    <h2>Our Contributors</h2>
    <h3>People who are giving their time and talent to help us build the future. Thanks to all of you!</h3>
  </div>
  <ul>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/brady-rudesill.png">
      <p>Brady Rudesill</p>
    </li>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/chris-riegg.png">
      <p>Chris Riegg</p>
    </li>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/chris-styles.png">
      <p>Chris Styles</p>
    </li>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/ethan-wojcinski.png">
      <p>Ethan Wojcinski</p>
    </li>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/heather-brysiewicz.png">
      <p>Heather Brysiewicz</p>
    </li>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/israel-de-la-hoz.png">
      <p>Israel de la Hoz</p>
    </li>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/jimmy-wilson.png">
      <p>Jimmy Wilson</p>
    </li>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/kim-koga.png">
      <p>Kim Koga</p>
    </li>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/mike-stallard.png">
      <p>Mike Stallard</p>
    </li>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/nicolas-dedual.png">
      <p>Nicolas Dedual</p>
    </li>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/oleg-korneitchouk.png">
      <p>Oleg Korneitchouk</p>
    </li>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/pavak-trikutam.png">
      <p>Pavan Trikutam</p>
    </li>
    <li>
      <img width="100" height="100" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/robert-samson.png">
      <p>Robert Samson</p>
    </li>
  </ul>
</div>