<div class="legal">
  <h1>Terms of Use</h1>

  <h2>Welcome to Code Corps!</h2>

  <p>Code Corps is a platform where people can support public software projects by volunteering their time or donating their money.</p>

  <p>“We”, “our”, or “us” refers to Code Corps PBC, a Delaware public benefit corporation and/or its subsidiaries.</p>

  <p>By using this website (the “Site”) and services (together with the Site, the “Services”) offered by us, you’re agreeing to these legally binding rules (the “Terms”). “Code Corps” refers to the Site and the Services offered by us under these Terms. You’re also agreeing to our {{#link-to 'privacy'}}Privacy Policy{{/link-to}} and any other rules we post on Code Corps.</p>

  <p>If we make material changes to these Terms, we will notify you by sending an email to the address you provided at the time of registration or by posting an announcement on Code Corps. Your continued access or use of Code Corps means you accept the new terms.</p>

  <h2>Your Account</h2>

  <p>When you register for an account you must provide us with information that is true, accurate, and complete. If you don’t provide us with accurate information we may not be able to assist you with accessing your account.</p>

  <p>You must be at least 13 years old to register for an account. However, you must be at least 18 years old or have your parent’s permission to give or receive donations. Please report to us any users who do not meet these age requirements.</p>

  <p>You will safeguard your account information. If you believe your account is compromised, you must contact us immediately.</p>

  <h2>Prohibited Activities</h2>

  <p>You are responsible for all of your account activity. We hold the right to terminate your account for any reason.</p>

  <p>Additionally, you agree not to:</p>

  <p>
    <ul class="bulleted">
      <li>post content that is unlawful, libelous, defamatory, obscene, pornographic, indecent, lewd, suggestive, harassing, threatening, invasive of privacy or publicity rights, abusive, inflammatory, fraudulent or otherwise objectionable;</li>

      <li>post content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party, or that would otherwise create liability or violate any local, state, national or international law;</li>

      <li>post content that may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party;</li>

      <li>post content that impersonates any person or entity or otherwise misrepresents your affiliation with a person or entity, including us;</li>

      <li>engage in unsolicited promotions, political campaigning, advertising, contests, raffles, or solicitations;</li>

      <li>post the private information of any third party, including, without limitation, surname, addresses, phone numbers, email addresses, Social Security numbers and/or credit card numbers;</li>

      <li>transmit viruses, corrupted data or other harmful, disruptive or destructive files;</li>

      <li>post content that is unrelated to the topic of the Interactive Area(s) in which such content is posted; or</li>

      <li>post content or links to content that, in our sole judgment, (a) violates the previous subsections herein, (b) is objectionable, (c) restricts or inhibits any other person from using or enjoying Code Corps, or (d) which may expose us or our users to any harm or liability of any type.</li>
    </ul>
  </p>

  <p>We take no responsibility and assume no liability for any content posted, stored or uploaded by you or any third party, or for any loss or damage thereto, nor are we liable for any mistakes, defamation, slander, libel, omissions, falsehoods, obscenity, pornography or profanity you may encounter. We are also not liable for any statements, representations or content provided by our users on Code Corps.</p>

  <p>Although we have no obligation to screen, edit or monitor any of the content posted to or distributed through Code Corps, we reserve the right, and have absolute discretion, to remove, screen, translate or edit without notice any content posted or stored on Code Corps at any time and for any reason, or to have such actions performed by third parties on our behalf. We are not responsible for your content on Code Corps and you are solely responsible for creating backup copies of and replacing any content you create or store on Code Corps at your sole cost and expense.</p>

  <h2>Code of Conduct</h2>

  <p>In the interest of fostering a welcoming and safe environment, all users pledge to keep the Code Corps community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, gender identity and expression, level of experience, nationality, personal appearance, race religion, or sexual identity or orientation.</p>

  <p>To keep Code Corps safe for everyone, users should do the following:</p>

  <p>
    <ul class="bulleted">
      <li>Use welcoming and inclusive language;</li>

      <li>Be respectful of differing viewpoints and experiences;</li>

      <li>Gracefully accept constructive criticism;</li>

      <li>Focus on what is best for the community; and</li>

      <li>Show empathy towards others.</li>
    </ul>
  </p>

  <p>To keep Code Corps safe for everyone, users should not do any of the following:</p>

  <p>
    <ul class="bulleted">
      <li>Use sexualized or profane language or imagery, or make unwelcome sexual attention or advances to others;</li>

      <li>“Troll,” make insulting or derogatory comments, or personal or political attacks to others;</li>

      <li>Publically or privately harass anyone;</li>

      <li>Publish others private information, including, but not limited to, physical or electronic addresses, or phone numbers, without explicit permission; and</li>

      <li>Any other conduct which could be considered inappropriate in a professional setting.</li>
    </ul>
  </p>

  <p>Users should make sure that everyone using Code Corps understands these guidelines. Projects will be expected to take timely, appropriate and fair corrective action in response to any instances of unacceptable behavior. This may include removing, editing, or rejecting comments, messages, tasks and other contributions that are not aligned with these terms, and may include temporarily or permanently banning any user for other behaviors that are deemed to be inappropriate, threatening, offensive or harmful.</p>

  <p>These standards apply on Code Corps and in public spaces when users are representing the interests of their project. Examples of public spaces may include using an official project e-mail address, posting via an official social media account, or acting as an appointed representative at an online or offline event. If any complaint arises please follow the instructions set forth in the Complaints section of these Terms below.</p>

  <p>This Code of Conduct is adapted from the Contributor Covenant, version 1.4, available at <a href="http://contributor-covenant.org/version/1/4">http://contributor-covenant.org/version/1/4</a>.</p>

  <h2>Donating to a Project</h2>

  <p>Donations are a monthly subscription where you pay projects per month.</p>

  <p>In order to donate, you must create an account, submit your preferred payment method (your credit card details, for example), choose a project, and donate.</p>

  <p>You are charged immediately at the time of the donation for the full amount of the subscription. During the following month you will be charged on the same day as when you originally subscribed. For example, if you subscribed on October 14, then you will be charged on the 14th of each month. If the date does not occur every billing cycle (e.g., you subscribed on the 31st, but the next month only has 30 days), then you will be charged on the last day of the month.</p>

  <p>You may cancel your donation at any time by contacting us at <a href="mailto:team@codecorps.org">team@codecorps.org</a>. Once your donation is canceled, you will not be charged again for that subscription in the future.</p>

  <p>We do not grant refunds for failure to meet project goals. We do not hold funds on behalf of projects. We do attempt to screen for potentially fraudulent projects, but cannot guarantee the identity of project creators or the accuracy of any claims made by projects.</p>

  <h2>Accepting Donations to Your Project</h2>

  <p>Donations are a monthly subscription to your project.</p>

  <p>You must set donation goals in order to accept donations. A donation goal represents a dollar amount that you are hoping to raise in order to support your operations and a realistic and honest description of how you intend to use any donated funds.</p>

  <p>Donors are charged immediately at the time of the donation for the full amount of the subscription. During the following month they will be charged on the same day as when they originally subscribed. For example, if they subscribed on October 14, then they will be charged on the 14th of each month. If the date does not occur every billing cycle (e.g., they subscribed on the 31st, but the next month only has 30 days), then they will be charged on the last day of the month.</p>

  <p>We try to transfer your funds on a regular basis, but you may experience occasional delays in accessing your funds. We may also block payments for violations of these Terms or for other regulatory or compliance reasons. In the event payments are delayed or blocked, we will try to communicate the reasons to you in a reasonable amount of time. We may also block some payments to your project if we believe them to be fraudulent in order to protect you from fraud.</p>

  <p>Our fee is 5% of processed donations. Payment processing fees may vary.</p>

  <p>Donors under the age of 18 require permission to donate to your project. Account registration is strictly prohibited for anyone under the age of 13.</p>

  <p>By accepting donations on Code Corps, you also agree to the Stripe Connected Account Agreement. https://stripe.com/us/connect-account/legal</p>

  <p>We do not handle tax payments. You are responsible for paying any additional fees or taxes associated with your use of Code Corps.</p>

  <h2>Our Role</h2>

  <p>You agree that you will use Code Corps only to make legitimate donations or to accept donations for yourself or third parties that are legally entitled to such funds. Any false or fraudulent project funding or fund raising is prohibited, and any user who attempts such fraudulent activity will have their Code Corps account terminated.</p>

  <p>AS A USER OF CODE CORPS YOU UNDERSTAND AND AGREE THAT: (1) NEITHER US NOR OUR AFFILIATES WILL HAVE ANY LIABILITY TO YOU OR OTHERS FOR ANY UNAUTHORIZED TRANSACTIONS MADE USING YOUR PASSWORD OR ACCOUNT; AND (2) THE UNAUTHORIZED USE OF YOUR PASSWORD OR ACCOUNT COULD CAUSE YOU TO INCUR LIABILITY TO BOTH US AND OUR USERS.</p>

  <p>We will not interfere arbitrarily, but we reserve the right to cancel or not process donations because of certain extenuating circumstances, such as when a third party group is no longer in existence or when we have reasonable cause to suspect that such donations may be fraudulent. We also reserve the right to take steps to verify your identity to process your transaction.</p>

  <p>You agree that we are not responsible for the accuracy or completeness of information we obtain from third parties and display on Code Corps. CODE CORPS PBC DOES NOT REPRESENT, WARRANT, OR GUARANTEE ANY STATEMENT OR REPRESENTATION MADE BY ANY USER SOLICITING PROJECT FUNDS ON THE WEBSITE. CODE CORPS PBC IS NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES OR NEGLIGENCE OF ANY SUCH ORGANIZATION OR PROJECT. YOU SHOULD THOROUGHLY INVESTIGATE ANY PROJECT THAT YOU ARE CONSIDERING DONATING TO.</p>

  <h2>Links to Third-Party Sites</h2>

  <p>Code Corps may contain hyperlinks to websites operated by parties other than us. Such hyperlinks are provided for your reference and convenience only. We do not control such websites and are not responsible for their content or the privacy or other practices of such websites. Further, it is up to you to take precautions to ensure that whatever links you select or software you download (whether from Code Corps or other websites) is free of such items as viruses, worms, trojan horses, defects and other items of a destructive nature. Our inclusion of hyperlinks to such websites does not imply any endorsement of the material on such websites or any association with their operators. In some cases, you may be asked by a third party site to link your profile on Code Corps to a profile on another third party site. Choosing to do so is purely optional, and the decision to allow this information to be linked can be disabled (with the third party site) at any time.</p>

  <h2>Connecting with Third-Party Services</h2>

  <p>You may have the option to connect your Code Corps account with a third party service. If you decide to integrate your information with a third party service, that service will receive such information according to our {{#link-to 'privacy'}}Privacy Policy{{/link-to}}. However, please look to the Terms of Use and Privacy Policy of any third party service that you decide to integrate your data with. We are not responsible for how a third party service distributes your personally identifiable information or private data.</p>

  <h2>Your Content</h2>

  <p>You maintain intellectual property rights to the material you provide to us, e.g. your profile, your project information, or any materials uploaded. However, by choosing to display your information publicly, you agree to allow others to view your content.</p>

  <p>We do not pre-screen projects, but we maintain the right (but not the obligation) to refuse or remove any content that is available via the platform.</p>

  <h2>Copyright and Trademark Notices</h2>

  <p>The Services allowed by this Site are copyrighted by Code Corps PBC. All rights reserved.</p>

  <p>We are not responsible for content on websites operated by parties other than us. Our name, logo, and all other service names or slogans displayed on this Site are registered and/or common law trademarks of us and/or our licensors, and may not be copied, imitated or used, in whole or in part, without the prior written permission of us or the applicable trademark holder.</p>

  <p>All other trademarks, registered trademarks, product names and company names or logos mentioned on this Site are the property of their respective owners. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof by us.</p>

  <p>If you are aware of an infringement of either your brand or our brand, please let us know by e-mailing us at <a href="mailto:team@codecorps.org">team@codecorps.org</a>.</p>

  <h2>Indemnity</h2>

  <p>You agree to defend, indemnify, and hold harmless Code Corps PBC, its affiliates and parent companies, any of their officers, directors, employees, agents or personal representatives from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature, including, but not limited to, reasonable legal and accounting fees, brought by third parties as a result of:</p>

  <p>
    <ol>
      <li>Breach of these Terms or the documents referenced herein;</li>

      <li>Violation of any law or the rights of a third party; and</li>

      <li>Use of this Site.</li>
    </ol>
  </p>

  <h2>Warranty Disclaimer</h2>

  <p>Your use of Code Corps is at your sole risk. The service is provided on an "as is" and "as available" and without warranty of any kind, express or implied.</p>

  <p>WE SPECIFICALLY DISCLAIM ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF DEALING, COURSE OF PERFORMANCE, OR USAGE OF TRADE. NO ADVICE OR INFORMATION (ORAL OR WRITTEN) OBTAINED BY YOU FROM US SHALL CREATE ANY WARRANTY.</p>

  <h2>Limit of Liability</h2>

  <p>To the fullest extent permitted by law, in no event will we, our directors, employees, partners, suppliers, or content providers be liable for any indirect, incidental, punitive, consequential, special, or exemplary damages of any kind, including but not limited to damages (i) resulting from your access to, use of, or inability to access or use the Services; (ii) for any lost profits, data loss, or cost of procurement or substitute goods or services; or (iii) for any conduct of content of any third party on the Site. In no event shall our liability for direct damages be in excess of (in the aggregate) one hundred U.S. dollars ($100.00).</p>

  <h2>Jurisdiction and Governing Law</h2>

  <p>This Site is operated by a U.S. entity and these Terms are governed by the laws of the state of California, United States of America. You hereby consent to the exclusive jurisdiction and venue of courts in the state of California in the United States of America and stipulate to the fairness and convenience of proceedings in such courts for all disputes arising out of or relating to the use of Code Corps. You agree that all claims you may have against us arising from or relating to Code Corps must be heard and resolved in a court of competent subject matter jurisdiction located in California. Use of Code Corps is unauthorized in any jurisdiction that does not give effect to all provisions of these terms and conditions, including, without limitation, this paragraph.</p>

  <h2>General Provisions</h2>

  <p>You agree that no joint venture, agency, partnership, or employment relationship exists between you and us and/or any of our affiliates as a result of these Terms or use of this Site.</p>

  <p>If any part of these Terms is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remaining provisions in these Terms shall continue in effect.</p>

  <p>These Terms (and any other policies or rules referenced herein) constitute the entire agreement between you and us with respect to this Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral, or written, between you and us with respect to this Site. A printed version of these Terms and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to these Terms to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.</p>

  <p>Fictitious names of companies, products, people, characters, and/or data mentioned on this Site are not intended to represent any real individual, company, product, or event. Any rights not expressly granted herein are reserved.</p>

  <h2>Complaints</h2>

  <p>If any user has engaged in any conduct that you feel is inappropriate, harmful or offensive, please report such conduct by contacting us at <a href="mailto:team@codecorps.org">team@codecorps.org</a>. All complaints will be reviewed and investigated and will result in a timely response that is appropriate in the circumstances. We will maintain confidentiality and anonymity with the report of any incident.</p>

  <h2>Support</h2>

  <p>If you have any questions or need to contact us, please contact us at <a href="mailto:team@codecorps.org">team@codecorps.org</a> or you can write to us at:</p>

  <p>
    Code Corps PBC<br />
    4166 Wilson Ave #1<br />
    San Diego, CA 92104
  </p>

  <p>Effective December 7, 2016</p>

  <h2>Disclaimer</h2>

  <p>These Terms are a draft and are subject to review. We will inform all users about future changes.</p>
</div>
