.card-item {
  align-items: center;
  background-color: $light-blue;
  border: 1px solid $dark-blue;
  border-radius: .25em;
  display: flex;
  height: 2.5em;
  justify-content: space-between;
  margin-bottom: .6em;
  padding: 1.5em 1.15em;
}

.card-item__brand {
  height: 30px;
  margin-right: .7em;
  width: 50px;
}

.card-item__brand--amex {
  background: url(/assets/images/icons/american-express.png) no-repeat top center;
  @extend .card-item__brand;
}

.card-item__brand--diners {
  background: url(/assets/images/icons/diners-club.png) no-repeat top center;
  @extend .card-item__brand;
}

.card-item__brand--discover {
  background: url(/assets/images/icons/discover.png) no-repeat top center;
  @extend .card-item__brand;
}

.card-item__brand--jcb {
  background: url(/assets/images/icons/jcb.png) no-repeat top center;
  @extend .card-item__brand;
}

.card-item__brand--mastercard {
  background: url(/assets/images/icons/mastercard.png) no-repeat top center;
  @extend .card-item__brand;
}

.card-item__brand--visa {
  background: url(/assets/images/icons/visa.png) no-repeat top center;
  @extend .card-item__brand;
}

.card-item__info {
  display: flex;
  flex: 1;
  p {
    line-height: 30px;
    margin: 0;
  }
  span {
    font-weight: bold;
    margin: 0;
  }
}

.card-item__expiry {

}

// will move this to _buttons.scss once finished styling
.button--small {
  background-color: white;
  border: 1px solid $gray;
  border-radius: .3em;
  color: $dark-text;
  font-size: $body-font-size-small;
  height: 2.5em;
  padding: 0;
  // width is getting overwritten by .donation-container button
  width: 8em !important;
  margin-bottom: 1.4em;
  &:hover {
    background-color: rgba($gray, .1)
  }
}

.card-list__button--small {
  @extend .button--small;
}
