.card-item {
  align-items: center;
  background-color: $blue--lighter;
  border: 1px solid $blue;
  border-radius: .25em;
  display: flex;
  height: 2.5em;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 1.5em 1.15em;
}

.card-item__info {
  display: flex;
  flex: 1;
  line-height: 32px;
  position: relative;
  p {
    line-height: 30px;
    margin: 0 0 0 2em;
  }
  span {
    font-weight: bold;
    margin: 0;
  }
}

// will move this to _buttons.scss once finished styling
.button--small {
  background-color: white;
  border: 1px solid $gray;
  border-radius: .3em;
  color: $text--dark;
  font-size: $body-font-size-small;
  height: 2.5em;
  padding: 0;
  // width is getting overwritten by .donation-container button
  width: 8em !important;
  margin-bottom: 1.4em;
  &:hover {
    background-color: rgba($gray, .1)
  }
}

.card-list__button--small {
  @extend .button--small;
}
