@mixin card-details {
  align-items: center;
  border: 1px solid transparent;
  border-radius: .25em;
  display: flex;
  height: 2.5em;
  justify-content: space-between;
  padding: 1.5em 1.15em;
}

.card-item {
  @include card-details;

  background-color: $blue--background;
  border-color: $blue;
  margin-bottom: 10px;

  &--error {
    background-color: $red--light;
    border-color: $red;

    a {
      color: $red;
    }

    .card-item__expiry {
      color: $red;
    }
  }

  &--warning {
    background-color: $yellow--light;
    border-color: $yellow;

    a {
      color: $yellow;
    }

    .card-item__expiry {
      color: $yellow;
    }
  }
}

.card-item__info {
  display: flex;
  flex: 1;
  line-height: 32px;
  position: relative;

  p {
    line-height: 30px;
    margin: 0 0 0 2em;
  }

  span {
    font-weight: bold;
    margin: 0;
  }
}

.card-item__expiry {
  font-weight: normal;
  margin-right: 1em;
}

.card-item__details {
  display: flex;
  span {
    margin-left: 1em;
  }
}

.card-form {
  display: flex;
  margin-bottom: 10px;

  .ember-stripe-element {
    display: flex;
    flex-grow: 1;
  }

  &__actions {
    display: flex;

    button {
      margin: 0 0 0 5px;
    }
  }

  &__date {
    display: flex;
  }

  &__details {
    @include card-details;
    background-color: $blue--background;
    border-color: $blue;

    flex-grow: 1;
  }

  .StripeElement {
    flex-grow: 1;
  }

  .select-cc-expiry {
    display: flex;

    select {
      height: 44px;
      margin-left: 5px;
    }
  }
}
